GearsetPOC/force-app/main/default/flows/Account_CTCs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Account_Id_to_Corporate_Tracking_Code</name>
        <label>Assign Account Id to Corporate Tracking Code</label>
        <locationX>50</locationX>
        <locationY>3470</locationY>
        <assignmentItems>
            <assignToReference>Get_Corporate_Tracking_Code_of_RT_not_associated_with_Account.B2b_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Corporate_Tracking_Code_of_RT_not_associated_with_Account.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stamp_Account_Id_to_Corporate_Tracking_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Chosen_Code_RT</name>
        <label>Assign Chosen Code RT</label>
        <locationX>270</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>chosenCodeRT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_CorporateTrackingCode_RTs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Id_of_Chosen_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Account_CTC_Codes_to_Create</name>
        <label>Collect Account CTC Codes to Create</label>
        <locationX>380</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>accountCTCsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>individualAccountCtcData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_selected_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Account_PCC_Codes_To_Deactivate</name>
        <label>Collect Account PCC Codes To Deactivate</label>
        <locationX>1084</locationX>
        <locationY>6218</locationY>
        <assignmentItems>
            <assignToReference>accountPccCodesToDeactivate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Account_PCC_Codes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Account_PCC_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Account_PCC_Ids</name>
        <label>Collect Account PCC Ids</label>
        <locationX>1084</locationX>
        <locationY>5702</locationY>
        <assignmentItems>
            <assignToReference>accountPCCIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Account_PCCs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Account_PCCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_amended_Account_CTC_Ids</name>
        <label>Collect amended Account CTC Ids</label>
        <locationX>1172</locationX>
        <locationY>5294</locationY>
        <assignmentItems>
            <assignToReference>amendedAccountCtcIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_amended_Account_CTCs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_amended_Account_CTCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Corporate_Tracking_Code_Ids_of_Inactive_Account_CTCs</name>
        <label>Collect Corporate Tracking Code Ids of Inactive Account CTCs</label>
        <locationX>1260</locationX>
        <locationY>5102</locationY>
        <assignmentItems>
            <assignToReference>corporateTrackinCodeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_amended_Account_CTCs.Corp_Tracking_Type_And_Code__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_amended_Account_CTC_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_created_Account_CTC_Ids</name>
        <label>Collect created Account CTC Ids</label>
        <locationX>380</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>createdAccountCtcIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_created_Account_CTCs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_created_Account_CTCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Id_of_created_Account_CTCs</name>
        <label>Collect Id of created Account CTCs</label>
        <locationX>50</locationX>
        <locationY>3362</locationY>
        <assignmentItems>
            <assignToReference>createdAccountCtcIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>idOfAddedAccountCTC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Account_Id_to_Corporate_Tracking_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_individual_Account_CTC_data</name>
        <label>Collect individual Account CTC data</label>
        <locationX>380</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>individualAccountCtcData.B2b_AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>individualAccountCtcData.Corp_Tracking_Type_And_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_selected_Codes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>individualAccountCtcData.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Account_CTC_Codes_to_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Related_Corporate_Tracking_Code_Ids</name>
        <label>Collect Related Corporate Tracking Code Ids</label>
        <locationX>952</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>codeIdsRelatedToAccountCTCs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Related_Account_CTCs.Corp_Tracking_Type_And_Code__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Related_Account_CTCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Refresh_createdAccountCtcIds</name>
        <label>Copy 1 of Refresh createdAccountCtcIds</label>
        <locationX>512</locationX>
        <locationY>3962</locationY>
        <assignmentItems>
            <assignToReference>createdAccountCtcIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emptyTextCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_Screen_Account_CTCs_have_been_added_Step_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deactivate_individual_Account_PCC_Code</name>
        <label>Deactivate individual Account PCC Code</label>
        <locationX>1084</locationX>
        <locationY>6110</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Account_PCC_Codes.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Account_PCC_Codes_To_Deactivate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refresh_accountCTCsToCreate</name>
        <label>Refresh accountCTCsToCreate</label>
        <locationX>292</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>accountCTCsToCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emptyAccountCTCsCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_selected_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refresh_createdAccountCtcIds</name>
        <label>Refresh createdAccountCtcIds</label>
        <locationX>292</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>createdAccountCtcIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emptyTextCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_created_Account_CTCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refresh_selectedCodes</name>
        <label>Refresh selectedCodes</label>
        <locationX>512</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>selectedCodes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emptyCodesCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_of_Codes_to_Select_And_Picklist_of_RTs_Step_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_selected_Codes_from_Collection_of_Code</name>
        <label>Remove selectedCodes from collection codesWithNoAccCTCs</label>
        <locationX>512</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>codesWithNoAccCTCs</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>selectedCodes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_or_Cancel</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Add&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add</stringValue>
        </value>
    </choices>
    <choices>
        <name>AddMore</name>
        <choiceText>Add More</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add More</stringValue>
        </value>
    </choices>
    <choices>
        <name>Amend</name>
        <choiceText>Amend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Amend</stringValue>
        </value>
    </choices>
    <choices>
        <name>Back</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Back&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Back</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Corporate_code_Amadeus</name>
        <choiceText>Corporate code Amadeus</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Corporate_code_Amadeus</stringValue>
        </value>
    </choices>
    <choices>
        <name>Corporate_code_Apollo</name>
        <choiceText>Corporate code Apollo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Corporate_code_Apollo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Corporate_code_Galileo</name>
        <choiceText>Corporate code Galileo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Corporate_code_Galileo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Corporate_code_Sabre</name>
        <choiceText>Corporate code Sabre</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Corporate_code_Sabre</stringValue>
        </value>
    </choices>
    <choices>
        <name>Eurostar_for_Business_code</name>
        <choiceText>Eurostar for Business code</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Eurostar_for_Business_code</stringValue>
        </value>
    </choices>
    <choices>
        <name>FCE_New</name>
        <choiceText>FCE (New)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FCE_New</stringValue>
        </value>
    </choices>
    <choices>
        <name>GND_BE</name>
        <choiceText>GND BE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GND_BE</stringValue>
        </value>
    </choices>
    <choices>
        <name>GND_NL</name>
        <choiceText>GND NL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GND_NL</stringValue>
        </value>
    </choices>
    <choices>
        <name>Next</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Next&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Next</stringValue>
        </value>
    </choices>
    <choices>
        <name>Save</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Save&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Save</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Active_Or_Not</name>
        <label>Active Or Not</label>
        <locationX>1172</locationX>
        <locationY>4994</locationY>
        <defaultConnector>
            <targetReference>Collect_Corporate_Tracking_Code_Ids_of_Inactive_Account_CTCs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_amended_Account_CTCs.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_amended_Account_CTC_Ids</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_More_or_Amend_or_Cancel</name>
        <label>Add More or Amend or Cancel</label>
        <locationX>512</locationX>
        <locationY>4178</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Add_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonOutput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddMore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Is_Codes_Collection_Empty</targetReference>
            </connector>
            <label>Add More</label>
        </rules>
        <rules>
            <name>Amend_Button_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonOutput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Amend</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_CTCs_Related_To_the_Business_Account_2</targetReference>
            </connector>
            <label>Amend</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_or_Amend_or_Cancel</name>
        <label>Add or Amend or Cancel</label>
        <locationX>864</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Add_Button</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonOutput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Codes_Collection_Empty</targetReference>
            </connector>
            <label>Add</label>
        </rules>
        <rules>
            <name>Amend_Button</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonOutput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Amend</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amending_Screen_Step_9</targetReference>
            </connector>
            <label>Amend</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Codes_Collection_Empty</name>
        <label>Is Codes Collection Empty</label>
        <locationX>512</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Refresh_selectedCodes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Code Collection Not Empty</defaultConnectorLabel>
        <rules>
            <name>Codes_Collection_Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>codesWithNoAccCTCs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>codesWithNoAccCTCs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refresh_selectedCodes</targetReference>
            </connector>
            <label>Codes Collection Empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Corporate Tracking Code of required RT is found</description>
        <name>Is_Corporate_Tracking_Code_Found</name>
        <label>Is Corporate Tracking Code Found</label>
        <locationX>270</locationX>
        <locationY>3146</locationY>
        <defaultConnector>
            <targetReference>Screen_Not_Found_Corporate_Tracking_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Corporate_Tracking_Code_of_RT_not_associated_with_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_CTC</targetReference>
            </connector>
            <label>Found</label>
        </rules>
        <rules>
            <name>Not_Found_and_Codes_are_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Corporate_Tracking_Code_of_RT_not_associated_with_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>createdAccountCtcIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_new_Account_CTCs</targetReference>
            </connector>
            <label>Not Found and Codes are Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_RT_chosen</name>
        <label>Is RT chosen</label>
        <locationX>512</locationX>
        <locationY>2714</locationY>
        <defaultConnector>
            <targetReference>Get_new_Account_CTCs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Is_RT_picked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Picklist_CorporateTrackingCode_RTs</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chosen_Code_RT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_or_Cancel</name>
        <label>Next or Cancel</label>
        <locationX>512</locationX>
        <locationY>1490</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Next_Button_to_Create_Account_CTC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonOutput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Next</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedCodes</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedCodes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Codes_Collection_Empty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refresh_accountCTCsToCreate</targetReference>
            </connector>
            <label>Next to create Account CTC</label>
        </rules>
        <rules>
            <name>Next_Button</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonOutput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Next</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_RT_chosen</targetReference>
            </connector>
            <label>Next</label>
        </rules>
    </decisions>
    <decisions>
        <name>Save_or_Back_or_Cancel</name>
        <label>Save or Back or Cancel</label>
        <locationX>864</locationX>
        <locationY>4670</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Back_Button</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonOutput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Back</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Account_CTCs_And_Corporate_Tracking_Codes_Step_3</targetReference>
            </connector>
            <label>Back</label>
        </rules>
        <rules>
            <name>Save_Button</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonOutput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Save</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Deactivate_Account_CTCs</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <description>The flow creates Account CTCs to connect Business Accounts and Corporate Tracking Codes. Related tasks: SFDCI-1458, SFDCI-1551.</description>
    <environments>Default</environments>
    <formulas>
        <name>noCodeFoundError</name>
        <dataType>String</dataType>
        <expression>IF({!Not_Found_and_Codes_are_Selected}, &#39;*No available Corporate Tracking Code found for the selected type &quot;&#39; &amp; SUBSTITUTE({!chosenCodeRT}, &#39;_&#39;, &#39; &#39;) &amp; &#39;&quot; in the picklist.&#39;, &#39;&#39;)</expression>
    </formulas>
    <interviewLabel>Account CTCs {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Account CTCs</label>
    <loops>
        <name>Loop_through_Account_PCC_Codes</name>
        <label>Loop through Account PCC Codes</label>
        <locationX>996</locationX>
        <locationY>6002</locationY>
        <collectionReference>Get_Account_PCC_Codes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Deactivate_individual_Account_PCC_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Account_PCC_Codes_to_Inactive</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Account_PCCs</name>
        <label>Loop through Account PCCs</label>
        <locationX>996</locationX>
        <locationY>5594</locationY>
        <collectionReference>Get_Account_PCC_related_to_the_Business_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Account_PCC_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_PCC_Codes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_amended_Account_CTCs</name>
        <label>Loop through amended Account CTCs</label>
        <locationX>996</locationX>
        <locationY>4886</locationY>
        <collectionReference>accountCTCsToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Active_Or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_PCC_related_to_the_Business_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_created_Account_CTCs</name>
        <label>Loop through created Account CTCs</label>
        <locationX>292</locationX>
        <locationY>2330</locationY>
        <collectionReference>accountCTCsToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_created_Account_CTC_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_RT_chosen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Related_Account_CTCs</name>
        <label>Loop through Related Account CTCs</label>
        <locationX>864</locationX>
        <locationY>350</locationY>
        <collectionReference>accountCTCsRelatedToBA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Related_Corporate_Tracking_Code_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Corporate_Tracking_Codes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_selected_Codes</name>
        <label>Loop through selected Codes</label>
        <locationX>292</locationX>
        <locationY>1706</locationY>
        <collectionReference>selectedCodes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_individual_Account_CTC_data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_new_Account_CTCs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_CTC</name>
        <label>Create Account CTC</label>
        <locationX>50</locationX>
        <locationY>3254</locationY>
        <assignRecordIdToReference>idOfAddedAccountCTC</assignRecordIdToReference>
        <connector>
            <targetReference>Collect_Id_of_created_Account_CTCs</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>B2b_AccountId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Corp_Tracking_Type_And_Code__c</field>
            <value>
                <elementReference>Get_Corporate_Tracking_Code_of_RT_not_associated_with_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>B2b_AccountCTC__c</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_new_Account_CTCs</name>
        <label>Insert new Account CTCs</label>
        <locationX>292</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Refresh_createdAccountCtcIds</targetReference>
        </connector>
        <inputReference>accountCTCsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_CTCs_Related_to_the_Business_Account</name>
        <label>Get Account CTCs Related to the Business Account</label>
        <locationX>864</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Related_Account_CTCs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2b_AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>B2b_AccountCTC__c</object>
        <outputReference>accountCTCsRelatedToBA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>B2b_AccountId__c</queriedFields>
        <queriedFields>Code_Record_Type__c</queriedFields>
        <queriedFields>Corp_Tracking_Type_And_Code__c</queriedFields>
        <queriedFields>Corporate_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_CTCs_Related_To_the_Business_Account_2</name>
        <label>Get Account CTCs Related To the Business Account 2</label>
        <locationX>512</locationX>
        <locationY>4286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Amending_Screen_Step_9</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2b_AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>B2b_AccountCTC__c</object>
        <outputReference>accountCTCsRelatedToBA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>B2b_AccountId__c</queriedFields>
        <queriedFields>Code_Record_Type__c</queriedFields>
        <queriedFields>Corp_Tracking_Type_And_Code__c</queriedFields>
        <queriedFields>Corporate_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_PCC_Codes</name>
        <label>Get Account PCC Codes</label>
        <locationX>996</locationX>
        <locationY>5894</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Account_PCC_Codes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Corp_Tracking_Type_And_Code__c</field>
            <operator>In</operator>
            <value>
                <elementReference>corporateTrackinCodeIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>B2b_AccountPCC__c</field>
            <operator>In</operator>
            <value>
                <elementReference>accountPCCIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2b_AccountPCCCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_PCC_related_to_the_Business_Account</name>
        <label>Get Account PCCs related to the Business Account</label>
        <locationX>996</locationX>
        <locationY>5486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Account_PCCs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2b_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2b_AccountPCC__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_amended_Account_CTCs</name>
        <label>Get amended Account CTCs</label>
        <locationX>996</locationX>
        <locationY>6518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenConfirmation_Step11</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>amendedAccountCtcIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2b_AccountCTC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>The first Corporate Tracking Code record of that type that is not already associated with a Business Account must be returned</description>
        <name>Get_Corporate_Tracking_Code_of_RT_not_associated_with_Account</name>
        <label>Get Corporate Tracking Code of RT not associated with Account</label>
        <locationX>270</locationX>
        <locationY>3038</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Corporate_Tracking_Code_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2b_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Id_of_Chosen_RT.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Corp_Tracking_Type_and_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Corporate Tracking Codes that a related to the Business Account but not yet related to the Account CTCs</description>
        <name>Get_Corporate_Tracking_Codes</name>
        <label>Get Corporate Tracking Codes</label>
        <locationX>864</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_CTCs_And_Corporate_Tracking_Codes_Step_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2b_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>codeIdsRelatedToAccountCTCs</elementReference>
            </value>
        </filters>
        <object>Corp_Tracking_Type_and_Code__c</object>
        <outputReference>codesWithNoAccCTCs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>B2b_Account__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Record_Type_Name__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Corp_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Id_of_Chosen_RT</name>
        <label>Get Id of Chosen RT</label>
        <locationX>270</locationX>
        <locationY>2930</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Corporate_Tracking_Code_of_RT_not_associated_with_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>chosenCodeRT</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_new_Account_CTCs</name>
        <label>Get new Account CTCs</label>
        <locationX>512</locationX>
        <locationY>3854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Refresh_createdAccountCtcIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>createdAccountCtcIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2b_AccountCTC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Deactivate_Account_CTCs</name>
        <label>Activate/Deactivate Account CTCs</label>
        <locationX>996</locationX>
        <locationY>4778</locationY>
        <connector>
            <targetReference>Loop_through_amended_Account_CTCs</targetReference>
        </connector>
        <inputReference>accountCTCsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Account_PCC_Codes_to_Inactive</name>
        <label>Set Account PCC Codes to Inactive</label>
        <locationX>996</locationX>
        <locationY>6410</locationY>
        <connector>
            <targetReference>Get_amended_Account_CTCs</targetReference>
        </connector>
        <inputReference>accountPccCodesToDeactivate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Account_Id_to_Corporate_Tracking_Code</name>
        <label>Stamp Account Id to Corporate Tracking Code</label>
        <locationX>50</locationX>
        <locationY>3578</locationY>
        <connector>
            <targetReference>Get_new_Account_CTCs</targetReference>
        </connector>
        <inputReference>Get_Corporate_Tracking_Code_of_RT_not_associated_with_Account</inputReference>
    </recordUpdates>
    <screens>
        <description>These are the active Corporate Tracking Codes related to this Business Account:
List each Account CTC in this format: [Record Type] - [Corporate Code Name] - Active / Inactive.</description>
        <name>Account_CTCs_And_Corporate_Tracking_Codes_Step_3</name>
        <label>Account CTCs And Corporate Tracking Codes - Step 3</label>
        <locationX>864</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_or_Amend_or_Cancel</targetReference>
        </connector>
        <fields>
            <name>ScreeenTable_CorporateCodes</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>B2b_AccountCTC__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>These are the active Corporate Tracking Codes related to this Business Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>accountCTCsRelatedToBA</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Code_Record_Type__c&quot;,&quot;guid&quot;:&quot;column-7437&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Record Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Code Record Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Corporate_Code__c&quot;,&quot;guid&quot;:&quot;column-5f63&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Corporate Code Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Corporate Code Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Active__c&quot;,&quot;guid&quot;:&quot;column-6f22&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Active / Inactive&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ScreenTable_CorporateCodesUnrelatedToAccCtc</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Corp_Tracking_Type_and_Code__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>These are the Corporate Tracking Codes assigned to this Business Account that do not have an Account CTC record</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>codesWithNoAccCTCs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Record_Type_Name__c&quot;,&quot;guid&quot;:&quot;column-cdee&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Record Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Record Type Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e6be&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Corporate Code Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Corporate Tracking Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Corp_Type__c&quot;,&quot;guid&quot;:&quot;column-e7a5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Corp Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Account_CTCs_And_Corporate_Tracking_Codes_Step_3_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_CTCs_And_Corporate_Tracking_Codes_Step_3_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_Step3_Blank_Display_Text</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Footer_Screen_Step_3</name>
            <extensionName>c:ncoCustomFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>add</name>
                <value>
                    <elementReference>Add</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amend</name>
                <value>
                    <elementReference>Amend</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancel</name>
                <value>
                    <elementReference>Cancel</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>buttonOutput</assignToReference>
                <name>output</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Amending_Screen_Step_9</name>
        <label>Amending Screen - Step 9</label>
        <locationX>864</locationX>
        <locationY>4562</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Save_or_Back_or_Cancel</targetReference>
        </connector>
        <fields>
            <name>ScreenText_Amend_AccountCTCs</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Corporate Tracking Codes related to this Business Account&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScrenTable_Amend_AccountCTCs</name>
            <extensionName>c:ncoCustomFlowAccountCTCsTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountCTCsInput</name>
                <value>
                    <elementReference>accountCTCsRelatedToBA</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>accountCTCsToUpdate</assignToReference>
                <name>accountCTCsOutput</name>
            </outputParameters>
        </fields>
        <fields>
            <name>BlankText1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenFooter_Amend</name>
            <extensionName>c:ncoCustomFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>save</name>
                <value>
                    <elementReference>Save</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>back</name>
                <value>
                    <elementReference>Back</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancel</name>
                <value>
                    <elementReference>Cancel</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>buttonOutput</assignToReference>
                <name>output</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen_Account_CTCs_have_been_added_Step_6</name>
        <label>Confirmation Screen - Account CTCs have been added - Step 6</label>
        <locationX>512</locationX>
        <locationY>4070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_More_or_Amend_or_Cancel</targetReference>
        </connector>
        <fields>
            <name>ScreenTable_Added_AccountCTCs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>B2b_AccountCTC__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account CTCs have been added</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_new_Account_CTCs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Code_Record_Type__c&quot;,&quot;guid&quot;:&quot;column-dcb9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Record Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Code Record Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Corporate_Code__c&quot;,&quot;guid&quot;:&quot;column-6ae3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Corporate Code Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Active__c&quot;,&quot;guid&quot;:&quot;column-0176&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Active / Inactive&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>No_Code_Found_for_Selected_RT</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(241, 5, 5);&quot;&gt;{!noCodeFoundError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BlankText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenFotter_Confirmation_Added_AccountCTC</name>
            <extensionName>c:ncoCustomFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>add</name>
                <value>
                    <elementReference>AddMore</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amend</name>
                <value>
                    <elementReference>Amend</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancel</name>
                <value>
                    <elementReference>Cancel</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>buttonOutput</assignToReference>
                <name>output</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Not_Found_Corporate_Tracking_Code</name>
        <label>Not Found Corporate Tracking Code</label>
        <locationX>490</locationX>
        <locationY>3254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text_Not_Found_Corporate_Tracking_Code</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;No available Corporate Tracking Code of this type was found that isn&#39;t already linked to the Business Account&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_of_Codes_to_Select_And_Picklist_of_RTs_Step_4</name>
        <label>Screen of Codes to Select And Picklist of RTs - Step 4</label>
        <locationX>512</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Remove_selected_Codes_from_Collection_of_Code</targetReference>
        </connector>
        <fields>
            <name>Screen_of_Codes_to_Select_And_Picklist_of_RTs_Step_4_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_of_Codes_to_Select_And_Picklist_of_RTs_Step_4_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreeenTable_TextPleaseSelect</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please select either an existing Corporate Tracking Code, or Select the type of Corporate Tracking Code you wish to add.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>TableHeader_of_CorporateCodeToSelect</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;These are the Corporate Tracking Codes assigned to this Business Account that do not have an Account CTC record&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ScreeenTable_CorporateCodesToSelect</name>
                    <extensionName>c:ncoCustomFlowCorporateTrackingsTable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>codesInput</name>
                        <value>
                            <elementReference>codesWithNoAccCTCs</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedCodes</assignToReference>
                        <name>codesOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Screen_Step4_Blank_Display_Text_1</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Codes_Collection_Empty</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_of_Codes_to_Select_And_Picklist_of_RTs_Step_4_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_of_Codes_to_Select_And_Picklist_of_RTs_Step_4_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Picklist_CorporateTrackingCode_RTs</name>
                    <choiceReferences>Eurostar_for_Business_code</choiceReferences>
                    <choiceReferences>GND_BE</choiceReferences>
                    <choiceReferences>GND_NL</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select the type of Corporate Tracking Code</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_Step4_Blank_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PicklistScreen_Footer</name>
            <extensionName>c:ncoCustomFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancel</name>
                <value>
                    <elementReference>Cancel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>next</name>
                <value>
                    <elementReference>Next</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>buttonOutput</assignToReference>
                <name>output</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenConfirmation_Step11</name>
        <label>Confirmation Screen - Step 11</label>
        <locationX>996</locationX>
        <locationY>6626</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenTable_Amended_AccountCTCs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>B2b_AccountCTC__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account CTCs that have been amended</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_amended_Account_CTCs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Corporate_Code__c&quot;,&quot;guid&quot;:&quot;column-41cc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Corporate Code Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Code_Record_Type__c&quot;,&quot;guid&quot;:&quot;column-9a97&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Code Record Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Active__c&quot;,&quot;guid&quot;:&quot;column-1ee7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Active / Inactive&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenStart</name>
        <label>Start Screen</label>
        <locationX>864</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account_CTCs_Related_to_the_Business_Account</targetReference>
        </connector>
        <fields>
            <name>StartText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;To add or update Corporate Tracking Codes, please click Next&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>738</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ScreenStart</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountCTCsRelatedToBA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2b_AccountCTC__c</objectType>
    </variables>
    <variables>
        <name>accountCTCsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2b_AccountCTC__c</objectType>
    </variables>
    <variables>
        <name>accountCTCsToDisplayOnConfirmationScreen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2b_AccountCTC__c</objectType>
    </variables>
    <variables>
        <name>accountCTCsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2b_AccountCTC__c</objectType>
    </variables>
    <variables>
        <name>accountPccCodesToDeactivate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2b_AccountPCCCode__c</objectType>
    </variables>
    <variables>
        <name>accountPCCIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>amendedAccountCtcIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>buttonOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chosenCodeRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>codeIdsRelatedToAccountCTCs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>codesWithNoAccCTCs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Corp_Tracking_Type_and_Code__c</objectType>
    </variables>
    <variables>
        <name>corporateTrackinCodeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createdAccountCtcIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emptyAccountCTCsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2b_AccountCTC__c</objectType>
    </variables>
    <variables>
        <name>emptyCodesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Corp_Tracking_Type_and_Code__c</objectType>
    </variables>
    <variables>
        <name>emptyTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idOfAddedAccountCTC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>individualAccountCtcData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2b_AccountCTC__c</objectType>
    </variables>
    <variables>
        <name>individualAccountPccCode</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2b_AccountPCCCode__c</objectType>
    </variables>
    <variables>
        <name>individualNrToAccountCTCtoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NR_to_AccountCTC__c</objectType>
    </variables>
    <variables>
        <name>isCollectionCodesWithNoAccCTCsEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newAccountCTCs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2b_AccountCTC__c</objectType>
    </variables>
    <variables>
        <name>nrIdsToUpdate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nrToAccountCTCsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NR_to_AccountCTC__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedCodes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Corp_Tracking_Type_and_Code__c</objectType>
    </variables>
</Flow>
