GearsetPOC/force-app/main/default/flows/Account_PCC_Codes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Active_Account_PCC_Codes_count</name>
        <label>Active Account PCC Codes count</label>
        <locationX>666</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>activeAccountPccCodesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Active_Account_PCC_Codes_Related_to_current_Account_PCC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_active_Account_PCC_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Account_PCC_Codes_to_create</name>
        <label>Collect Account PCC Codes to create</label>
        <locationX>138</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>accountPccCodesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>individualCodeData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Unrelated_Corporate_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Active_Account_CTC_Ids</name>
        <label>Collect Active Account CTC Ids</label>
        <locationX>952</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>activeAccountCTCIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Account_CTCs.Corp_Tracking_Type_And_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Account_CTCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_ids_of_amended_Account_PCC_Codes</name>
        <label>Collect ids of amended Account PCC Codes</label>
        <locationX>754</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>idsOfAmendedAccountPccCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_amended_Account_PCC_Codes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_amended_Account_PCC_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Individual_Account_PCC_Code_Data</name>
        <label>Collect Individual  Account PCC Code Data</label>
        <locationX>138</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>individualCodeData.B2b_AccountPCC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>individualCodeData.Corp_Tracking_Type_And_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Unrelated_Corporate_Codes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>individualCodeData.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>individualCodeData.Corporate_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Unrelated_Corporate_Codes.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Account_PCC_Codes_to_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>A list of Corporate Codes that are not already associated to the current Account PCC via the Account PCC Code records</description>
        <name>Related_Corporate_Codes_assignment</name>
        <label>Related Corporate Codes assignment</label>
        <locationX>270</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>relatedCorporateCodesIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_related_Account_PCC_Codes.Corp_Tracking_Type_And_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_related_Account_PCC_Codes</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add</name>
        <choiceText>Add</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add</stringValue>
        </value>
    </choices>
    <choices>
        <name>Amend</name>
        <choiceText>Amend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Amend</stringValue>
        </value>
    </choices>
    <choices>
        <name>Back</name>
        <choiceText>Back</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Back</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Continue</name>
        <choiceText>Continue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Continue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Next_Choice</name>
        <choiceText>Next</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Next</stringValue>
        </value>
    </choices>
    <choices>
        <name>Save_Button</name>
        <choiceText>Save</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Save</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_Amend_Exit</name>
        <label>Add or Amend or Exit</label>
        <locationX>864</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Add_Button</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonOutput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_related_Account_PCC_Codes</targetReference>
            </connector>
            <label>Add</label>
        </rules>
        <rules>
            <name>Amend_Button</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonOutput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Amend</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Amending</targetReference>
            </connector>
            <label>Amend</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_active_Account_PCC_Codes</name>
        <label>Check for active Account PCC Codes</label>
        <locationX>666</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Get_B2b_Deleted_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No active Account PCC Codes</defaultConnectorLabel>
        <rules>
            <name>Has_active_Account_PCC_Codes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activeAccountPccCodesCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_amended_Account_PCC_Codes</targetReference>
            </connector>
            <label>Has active Account PCC Codes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue_Exit</name>
        <label>Continue or Exit</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Next</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonOutput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Next_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Unrelated_Corporate_Codes</targetReference>
            </connector>
            <label>Next</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_3</name>
        <label>Decision 3</label>
        <locationX>974</locationX>
        <locationY>1298</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Save_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonOutput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Save_Button</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Deactivate_Account_PCC_Codes</targetReference>
            </connector>
            <label>Save</label>
        </rules>
        <rules>
            <name>Back_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonOutput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Back</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>ScreenTable_RelatedCodes</targetReference>
            </connector>
            <label>Back</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account PCC Codes {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Account PCC Codes</label>
    <loops>
        <name>Loop_through_Account_CTCs</name>
        <label>Loop through Account CTCs</label>
        <locationX>864</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Active_Account_CTCs_Related_to_the_Business_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Active_Account_CTC_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Corporate_Codes_Related_to_Business_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_amended_Account_PCC_Codes</name>
        <label>Loop through amended Account PCC Codes</label>
        <locationX>666</locationX>
        <locationY>2138</locationY>
        <collectionReference>accountPccCodesToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_ids_of_amended_Account_PCC_Codes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_amended_Account_PCC_Codes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_related_Account_PCC_Codes</name>
        <label>Loop through related Account PCC Codes</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <collectionReference>Get_Account_PCC_Codes_assigned_to_current_Account_PCC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Related_Corporate_Codes_assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Corporate_Codes_to_let_add</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Unrelated_Corporate_Codes</name>
        <label>Loop through Unrelated Corporate Codes</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <collectionReference>ScreenTable_UnrelatedCorprateCodes.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Individual_Account_PCC_Code_Data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_new_Account_PCC_Codes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_new_Account_PCC_Codes</name>
        <label>Insert new Account PCC Codes</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Update_Corp_Account_PCC_Codes</targetReference>
        </connector>
        <inputReference>accountPccCodesToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_PCC_Codes_assigned_to_current_Account_PCC</name>
        <label>Get Account PCC Codes assigned to current Account PCC</label>
        <locationX>864</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenTable_RelatedCodes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2b_AccountPCC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2b_AccountPCCCode__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>B2b_AccountPCC__c</queriedFields>
        <queriedFields>Code_Record_Type__c</queriedFields>
        <queriedFields>Corporate_Code__c</queriedFields>
        <queriedFields>Corp_Tracking_Type_And_Code__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Account_CTCs_Related_to_the_Business_Account</name>
        <label>Get Active Account CTCs Related to the Business Account</label>
        <locationX>864</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Account_CTCs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2b_AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_current_Account_PCC.B2b_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2b_AccountCTC__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Corp_Tracking_Type_And_Code__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This is to check if all of them deactivated</description>
        <name>Get_Active_Account_PCC_Codes_Related_to_current_Account_PCC</name>
        <label>Get Active Account PCC Codes Related to current Account PCC</label>
        <locationX>666</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Account_PCC_Codes_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2b_AccountPCC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2b_AccountPCCCode__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_amended_Account_PCC_Codes</name>
        <label>Get amended Account PCC Codes</label>
        <locationX>666</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Corp_Account_PCC_Codes2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>idsOfAmendedAccountPccCodes</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2b_AccountPCCCode__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Corporate_Code__c</queriedFields>
        <queriedFields>Code_Record_Type__c</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_B2b_Deleted_RT</name>
        <label>Get B2b_Deleted RT</label>
        <locationX>754</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_PCC_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2b_Deleted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>In the list, Corporate Codes that have Active Account CTCs</description>
        <name>Get_Corporate_Codes_Related_to_Business_Account</name>
        <label>Get Corporate Codes Related to Business Account</label>
        <locationX>864</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_PCC_Codes_assigned_to_current_Account_PCC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>activeAccountCTCIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Corp_Tracking_Type_and_Code__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>B2b_Account__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Record_Type_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Corporate Codes unrelated to the current Account PCC, but related to Business Account via active Account CTCs</description>
        <name>Get_Corporate_Codes_to_let_add</name>
        <label>Get Corporate Codes to let add</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_CorporateCodesToLetAdd</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>relatedCorporateCodesIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>activeAccountCTCIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Corp_Tracking_Type_and_Code__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>B2b_Account__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Record_Type_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_current_Account_PCC</name>
        <label>Get the current Account PCC</label>
        <locationX>864</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Account_CTCs_Related_to_the_Business_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2b_AccountPCC__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>B2b_Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Deactivate_Account_PCC_Codes</name>
        <label>Activate/Deactivate Account PCC Codes</label>
        <locationX>666</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Get_Active_Account_PCC_Codes_Related_to_current_Account_PCC</targetReference>
        </connector>
        <inputReference>accountPccCodesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>If All Account PCC Codes related to an Account PCC are set to Active = FALSE then the Account PCC record type needs to be updated to 2. Deleted.</description>
        <name>Update_Account_PCC_RT</name>
        <label>Update Account PCC RT</label>
        <locationX>754</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Loop_through_amended_Account_PCC_Codes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_B2b_Deleted_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <object>B2b_AccountPCC__c</object>
    </recordUpdates>
    <screens>
        <name>Screen_Amending</name>
        <label>Amending Screen Step 8</label>
        <locationX>974</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_3</targetReference>
        </connector>
        <fields>
            <name>ScreenTableHeader_AmendAccountPCCCodes</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Account PCC Codes currently assigned to this Account PCC&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenTable_AmendAccountPCCCodes</name>
            <extensionName>c:ncoCustomFlowAccountPccCodesTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountPccCodesInput</name>
                <value>
                    <elementReference>Get_Account_PCC_Codes_assigned_to_current_Account_PCC</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>accountPccCodesToUpdate</assignToReference>
                <name>accountPccCodesOutput</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AmendingScreenText_Blank</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Footer_Screen_Step_8</name>
            <extensionName>c:ncoCustomFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>save</name>
                <value>
                    <elementReference>Save_Button</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>back</name>
                <value>
                    <elementReference>Back</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancel</name>
                <value>
                    <elementReference>Cancel</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>buttonOutput</assignToReference>
                <name>output</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_CorporateCodesToLetAdd</name>
        <label>Corporate Codes To Let Add - Step 4</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Continue_Exit</targetReference>
        </connector>
        <fields>
            <name>ScreenTable_UnrelatedCorprateCodes</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Corp_Tracking_Type_and_Code__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>A list of Corporate Codes that are not already associated to the Account PCC</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Corporate_Codes_to_let_add</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Record_Type_Name__c&quot;,&quot;guid&quot;:&quot;column-c133&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Record Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Record Type Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-331e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Corporate Code Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Corporate Tracking Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ScreentText_Blank</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Footer_Screen_Step_4</name>
            <extensionName>c:ncoCustomFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancel</name>
                <value>
                    <elementReference>Cancel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>next</name>
                <value>
                    <elementReference>Next_Choice</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>buttonOutput</assignToReference>
                <name>output</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenConfirmation</name>
        <label>Confirmation Screen Step 10</label>
        <locationX>666</locationX>
        <locationY>2654</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Amended_AccountPccCodes</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>B2b_AccountPCCCode__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Amended Account PCC Codes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_amended_Account_PCC_Codes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Corporate_Code__c&quot;,&quot;guid&quot;:&quot;column-b5ed&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Corporate Code Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Code_Record_Type__c&quot;,&quot;guid&quot;:&quot;column-2358&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Code Record Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Active__c&quot;,&quot;guid&quot;:&quot;column-a0bb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenConfirmation_AddedCorporateCodes</name>
        <label>Confirmation Screen - added Corporate Codes - STEP 6</label>
        <locationX>50</locationX>
        <locationY>2438</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenTable_AddedCorporateCodes</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Corp_Tracking_Type_and_Code__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>List of the Corporate codes that have been added</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ScreenTable_UnrelatedCorprateCodes.selectedRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Record_Type_Name__c&quot;,&quot;guid&quot;:&quot;column-08ed&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Record Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Record Type Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e420&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Corporate Tracking Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenStart</name>
        <label>Start Screen</label>
        <locationX>864</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_the_current_Account_PCC</targetReference>
        </connector>
        <fields>
            <name>StartText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;To add or amend Account PCC Codes, please click Next&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenTable_RelatedCodes</name>
        <label>Related Corporate Codes and Account PCC Codes - Step 3</label>
        <locationX>864</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Amend_Exit</targetReference>
        </connector>
        <fields>
            <name>ScreenTable_RelatedCodes_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenTable_RelatedCodes_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreeenTable_CorporateCodes</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Corp_Tracking_Type_and_Code__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Active Corporate Codes related to the Business Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Corporate_Codes_Related_to_Business_Account</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Record_Type_Name__c&quot;,&quot;guid&quot;:&quot;column-8b5c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Record Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Record Type Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-11ba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Corporate Code Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Corporate Tracking Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ScreenTable_RelatedCodes_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenTable_RelatedCodes_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenTable_AccountPCCCodes</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>B2b_AccountPCCCode__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account PCC Codes currently assigned to this Account PCC</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Account_PCC_Codes_assigned_to_current_Account_PCC</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Corporate_Code__c&quot;,&quot;guid&quot;:&quot;column-766c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Corporate Code Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Code_Record_Type__c&quot;,&quot;guid&quot;:&quot;column-7b2f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Record Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Code Record Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Active__c&quot;,&quot;guid&quot;:&quot;column-8231&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Screen_Step2_Blank_Display_Text</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ScreenTable_RelatedCodes_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenTable_RelatedCodes_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Footer_Screen_Step_3</name>
                    <extensionName>c:ncoCustomFlowFooter</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>add</name>
                        <value>
                            <elementReference>Add</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>amend</name>
                        <value>
                            <elementReference>Amend</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cancel</name>
                        <value>
                            <elementReference>Cancel</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>buttonOutput</assignToReference>
                        <name>output</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>738</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ScreenStart</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Corp_Account_PCC_Codes</name>
        <label>Update # Corp Account PCC Codes</label>
        <locationX>50</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>ScreenConfirmation_AddedCorporateCodes</targetReference>
        </connector>
        <flowName>Update_Corp_Account_PCC_Codes</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>Get_the_current_Account_PCC.B2b_Account__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Corp_Account_PCC_Codes2</name>
        <label>Update # Corp Account PCC Codes2</label>
        <locationX>666</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>ScreenConfirmation</targetReference>
        </connector>
        <flowName>Update_Corp_Account_PCC_Codes</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>Get_the_current_Account_PCC.B2b_Account__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountPccCodesCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountPccCodesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2b_AccountPCCCode__c</objectType>
    </variables>
    <variables>
        <name>accountPccCodesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>B2b_AccountPCCCode__c</objectType>
    </variables>
    <variables>
        <name>activeAccountCTCIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>activeAccountPccCodesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>buttonOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_out_active_Account_PCC_Codes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2b_AccountPCCCode__c</objectType>
    </variables>
    <variables>
        <name>idsOfAmendedAccountPccCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>individualCodeData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2b_AccountPCCCode__c</objectType>
    </variables>
    <variables>
        <name>newAccountPccCodesIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedCorporateCodesIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
