GearsetPOC/force-app/main/default/flows/Case_Escalation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Brussels_Queue</name>
        <label>Assign Brussels Queue</label>
        <locationX>821</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>Queue_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brussels_Escalation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_queue_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Leadership_Queue</name>
        <label>Assign Leadership Queue</label>
        <locationX>1145</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>Queue_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Leadership_Escalations</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_queue_ID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Carrier_value</name>
        <label>Check Carrier value</label>
        <locationX>934</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>Assign_Leadership_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Carrier</defaultConnectorLabel>
        <rules>
            <name>Red_Carrier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_details.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Brussels_Queue</targetReference>
            </connector>
            <label>Red Carrier</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case Escalation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Escalation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_case_comment</name>
        <label>create case comment</label>
        <locationX>714</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Get_Case_details</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>case_comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_details</name>
        <label>Get Case details</label>
        <locationX>886</locationX>
        <locationY>156</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Carrier_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_queue_ID</name>
        <label>Get queue ID</label>
        <locationX>1010</locationX>
        <locationY>595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_case_status_and_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Queue_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_case_status_and_queue</name>
        <label>update case status and queue</label>
        <locationX>1047</locationX>
        <locationY>826</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Escalated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_queue_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Provide_your_case_comments</name>
        <label>Provide your case comments</label>
        <locationX>498</locationX>
        <locationY>52</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_case_comment</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Please add case comments with supporting information for case escalation&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>case_comment</name>
            <fieldText>Case Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>54</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Provide_your_case_comments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Queue_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
