GearsetPOC/force-app/main/default/flows/Case_Assign_Last_Minute_Fields_Record_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Product_Type_Last_Minute</name>
        <label>Product Type - Last Minute</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Ticket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Minute_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Booking_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Last-Minute</stringValue>
                </rightValue>
            </conditions>
            <label>Last Minute = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ticket_Found</name>
        <label>Ticket Found?</label>
        <locationX>440</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Ticket_Type_Last_Minute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ticket Found</defaultConnectorLabel>
        <rules>
            <name>Ticket_not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Ticket</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Ticket not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ticket_Type_Last_Minute</name>
        <label>Ticket Type = Last Minute</label>
        <locationX>704</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ticket_is_Last_Minute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Ticket.PAX_Type_Filter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LASTMIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Ticket.PAX_Type_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>LAST_MIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Triggering_Record</targetReference>
            </connector>
            <label>Ticket is Last Minute</label>
        </rules>
        <rules>
            <name>Ticket_is_NOT_Last_Minute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Ticket.PAX_Type_Filter__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LASTMIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Ticket.PAX_Type_Description__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NOT_CONTAINS</elementReference>
                </rightValue>
            </conditions>
            <label>Ticket is NOT Last Minute</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NOT_CONTAINS</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(&quot;LAST_MIN&quot;,{!Get_Ticket.PAX_Type_Description__c}))</expression>
    </formulas>
    <interviewLabel>Case - Assign Last Minute Fields (Record-Triggered) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Assign Last Minute Fields (Record-Triggered)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Ticket</name>
        <label>Get Ticket</label>
        <locationX>440</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ticket_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PNR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PNR__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Triggering_Record</name>
        <label>Update Triggering Record</label>
        <locationX>440</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Booking_Type__c</field>
            <value>
                <stringValue>Last-Minute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCN_Train_Destination__c</field>
            <value>
                <elementReference>Get_Ticket.Destination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCN_Train_Origin__c</field>
            <value>
                <elementReference>Get_Ticket.Origin__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Product_Type_Last_Minute</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PNR__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
