GearsetPOC/force-app/main/default/flows/DLT_EnvelopeStatusBeforeSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Business_Contract_to_Lookup</name>
        <label>Assign Business Contract to Lookup</label>
        <locationX>597</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>$Record.Business_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Business_Contract_data.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Business_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Business_Contract_data.AccountId__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>DLT EnvelopeStatus Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DLT EnvelopeStatus Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Business_Contract_data</name>
        <label>Get Business Contract data</label>
        <locationX>491</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Business_Contract_to_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dfsle__SourceId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Business_Contract_data</targetReference>
        </connector>
        <object>dfsle__EnvelopeStatus__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
