GearsetPOC/force-app/main/default/flows/DLT_Compensation_Mass_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approve_compensations_action</name>
        <label>Approve compensations</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <actionName>DLT_ApproveCompensationFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FinalScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>compensationsIds</name>
            <value>
                <elementReference>CompensationIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DLT_ApproveCompensationFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Id_to_list</name>
        <label>Add Id to list</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CompensationIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecordCounter1</name>
        <label>RecordCounter1</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>RecordCountAll</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordCounter2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecordCounter2</name>
        <label>RecordCounter2</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>RecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CompensationList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_user_has_permission</name>
        <label>Check if user has permission</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Approve_Compensations2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Compensation_Approver</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selested_Compensations</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DLT Compensation Mass Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DLT Compensation Mass Approval</label>
    <loops>
        <name>LoopRecords</name>
        <label>LoopRecords</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>CompensationList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Approve_Compensations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Selested_Compensations</name>
        <label>Get Selested Compensations</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordCounter1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>Claim_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Claimed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Comp_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Approval</stringValue>
            </value>
        </filters>
        <object>Compensation__c</object>
        <outputReference>CompensationList</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Approve_Compensations</name>
        <label>Approve Compensations</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Approve_compensations_action</targetReference>
        </connector>
        <fields>
            <name>Header1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Mass Compensation Approval&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selected_Compensations_LIst</name>
            <fieldText>&lt;p&gt;Out of {!RecordCountAll} records selected, {!RecordCount} is available to be approved. If you click submit, they will be validated and customers will receive their compensation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>footer</name>
            <extensionName>c:dltCompensationApproveFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approve_Compensations2</name>
        <label>Approve Compensations</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Header3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Mass Compensation Approval&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NoAccessText</name>
            <fieldText>&lt;p&gt;You don&#39;t have required permissions to perform this action.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FinalScreen</name>
        <label>FinalScreen</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Header2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Mass Compensation Approval&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text2</name>
            <fieldText>&lt;p&gt;Compensations Approved.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_user_has_permission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CompensationIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CompensationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Compensation__c</objectType>
    </variables>
    <variables>
        <description>Selected Record IDs from the ListView (auto-populated by the platform)</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RecordCountAll</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
