GearsetPOC/force-app/main/default/flows/Exec_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Case_Closed_or_Opened</name>
        <label>Case Closed or Opened</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Not_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalate_Case</targetReference>
            </connector>
            <label>Not Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opened_Cases</name>
        <label>Opened Cases</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AllCases</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>exec.tc@eurostar.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Duty Travel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Exec_Cases_Escalation_Rules__c.Exclusion_Owners_IDs__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Parent.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Exec_Cases_Escalation_Rules__c.Senders_Part_1__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.FromAddress</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Exec_Cases_Escalation_Rules__c.Senders_Part_2__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.FromAddress</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Exec_Cases_Escalation_Rules__c.Senders_Part_3__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.FromAddress</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Exec_Cases_Escalation_Rules__c.Senders_Parts_4__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.FromAddress</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Exec_Cases_Escalation_Rules__c.Sender_Domain_1__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.FromAddress</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Executive_Queue</targetReference>
            </connector>
            <label>All Cases</label>
        </rules>
    </decisions>
    <description>Escalate cases to Exec Contacts When Sent From Personal Assistant migrated from Process Builder</description>
    <environments>Default</environments>
    <interviewLabel>Exec Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Escalate cases to Exec Contacts When Sent From Personal Assistant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Executive_Queue</name>
        <label>Get Executive Queue</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Closed_or_Opened</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ECC_Executive_Contacts</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Escalate_Case</name>
        <label>Escalate Case</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Escalated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email Exec</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Executive_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Queue</name>
        <label>Update Queue</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Executive_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opened_Cases</targetReference>
        </connector>
        <object>EmailMessage</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
