GearsetPOC/force-app/main/default/flows/Improvement_Plan_Master_Flow_Record_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Count_Per_DIP_Loop_Through</name>
        <label>Assign Count Per DIP Loop Through</label>
        <locationX>855</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_All_DIP_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_Per_MIP_Loop_Through</name>
        <label>Assign Count Per MIP Loop Through</label>
        <locationX>503</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_All_MIP_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_Per_OIP_Loop_Through</name>
        <label>Assign Count Per OIP Loop Through</label>
        <locationX>1559</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_All_OIP_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_Per_RIP_Loop_Through</name>
        <label>Assign Count Per RIP Loop Through</label>
        <locationX>1207</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_All_RIP_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DIP_Count</name>
        <label>DIP - Count</label>
        <locationX>855</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_DIP_IP_Records_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MIP_Count</name>
        <label>MIP - Count</label>
        <locationX>503</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_MIP_IP_Records_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OIP_Count</name>
        <label>OIP - Count</label>
        <locationX>1559</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_OIP_IP_Records_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RIP_Count</name>
        <label>RIP - Count</label>
        <locationX>1207</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_RIP_IP_Records_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Closed_by_EIL</name>
        <label>Closed by EIL</label>
        <locationX>297</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Final_Close_by_EIL_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_by_EIL_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X374IP_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X374IP_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X374_closed_by_EIL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X374_closed_by_SIE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.CompanyName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Siemens</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Pending_Closure</targetReference>
            </connector>
            <label>Closed by EIL - True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_by_EIL_Engineer_Decision</name>
        <label>Closed by EIL Engineer</label>
        <locationX>1617</locationX>
        <locationY>2387</locationY>
        <defaultConnector>
            <targetReference>Final_Closure_by_EIL_Engineer_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_by_EIL_Engineer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X374IP_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X374IP_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_by_EIL_Engineer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_by_EIL_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Permission_set_assignment_ENG</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Permission_set_assignment_MGR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_EIL_Engineer</targetReference>
            </connector>
            <label>Closed by EIL Engineer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_by_Siemens_Decision</name>
        <label>Closed by Siemens</label>
        <locationX>776</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>Final_Close_by_Siemens_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_by_Siemens</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X374IP_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X374IP_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X374_closed_by_EIL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X374_closed_by_SIE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.CompanyName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Siemens</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_3</targetReference>
            </connector>
            <label>Closed by Siemens</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closure_by_EIL_Manager_Decision</name>
        <label>Closure by EIL Manager</label>
        <locationX>2096</locationX>
        <locationY>2603</locationY>
        <defaultConnector>
            <targetReference>Final_Closure_by_EIL_Manager_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closure_by_EIL_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X374IP_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X374IP_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_by_EIL_Engineer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_by_EIL_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_EIL_Manager_decision</targetReference>
            </connector>
            <label>Closure by EIL Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Final_Close_by_EIL_Decision</name>
        <label>Final Close by EIL</label>
        <locationX>545</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Closed_by_Siemens_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Final_Close_by_EIL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X374IP_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X374IP_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X374_closed_by_EIL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X374_closed_by_SIE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.CompanyName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Siemens</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_2</targetReference>
            </connector>
            <label>Final Close by EIL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Final_Close_by_Siemens_Decision</name>
        <label>Final Close by Siemens</label>
        <locationX>974</locationX>
        <locationY>2171</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Final_Close_by_Siemens</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X374IP_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X374IP_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X374_closed_by_EIL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X374_closed_by_SIE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.CompanyName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Siemens</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Records_2</targetReference>
            </connector>
            <label>Final Close by Siemens</label>
        </rules>
    </decisions>
    <decisions>
        <name>Final_Closure_by_EIL_Engineer_decision</name>
        <label>Final Closure by EIL Engineer</label>
        <locationX>1865</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>Closure_by_EIL_Manager_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Final_Closure_by_EIL_Engineer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X374IP_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X374IP_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_by_EIL_Engineer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_by_EIL_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Permission_set_assignment_ENG</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Permission_set_assignment_MGR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_EIL_Engineer_and_status</targetReference>
            </connector>
            <label>Final Closure by EIL Engineer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Final_Closure_by_EIL_Manager_decision</name>
        <label>Final Closure by EIL Manager</label>
        <locationX>2294</locationX>
        <locationY>2711</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Final_Closure_by_EIL_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X374IP_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X374IP_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_by_EIL_Engineer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_by_EIL_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Closure_Set_EIL_Manager</targetReference>
            </connector>
            <label>Outcome 1 of Final Closure by EIL Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Improvement_Plan_Record_Type</name>
        <label>Improvement Plan Record Type</label>
        <locationX>1493</locationX>
        <locationY>1739</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X374_Improvement_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>X374_Improvement_plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_by_EIL</targetReference>
            </connector>
            <label>374 Improvement Plan</label>
        </rules>
        <rules>
            <name>X373_Improvement_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>X373_Improvement_Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_last_Modified_User</targetReference>
            </connector>
            <label>373 Improvement Plan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plan_Type_Decision</name>
        <label>Plan Type Decision</label>
        <locationX>1075</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Set_Reference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Plan_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MIP_IP_Record_Type</targetReference>
            </connector>
            <label>MIP</label>
        </rules>
        <rules>
            <name>DIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Plan_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_DIP_IP_Record_Type</targetReference>
            </connector>
            <label>DIP</label>
        </rules>
        <rules>
            <name>RIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Plan_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RIP_IP_Record_Type</targetReference>
            </connector>
            <label>RIP</label>
        </rules>
        <rules>
            <name>OIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Plan_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OIP_IP_Record_Type</targetReference>
            </connector>
            <label>OIP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Required_Reference_fields_populated</name>
        <label>Required Reference fields populated?</label>
        <locationX>1493</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Improvement_Plan_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reference_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Plan_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X374IP_Primary_code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plan_Type_Decision</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Reference Ready</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>RefenceFormula</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Plan_Type__c}) + &#39;-&#39; + LEFT({!$Record.RecordType.Name},3) + &#39;/&#39; +LEFT(TEXT({!$Record.X374IP_Primary_code__c}),1) +&#39;/&#39; + IF({!Count} &lt;= 9 ,&#39;0&#39;+TEXT({!Count}),TEXT({!Count}))</expression>
    </formulas>
    <interviewLabel>Improvement Plan - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Improvement Plan - Master Flow - (Record-Triggered)</label>
    <loops>
        <description>To Assign a Count</description>
        <name>Through_All_DIP_Records</name>
        <label>Through All DIP Records</label>
        <locationX>767</locationX>
        <locationY>1163</locationY>
        <collectionReference>Get_Other_RIP_Improvement_Plans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Count_Per_DIP_Loop_Through</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Reference</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>To Assign a Count</description>
        <name>Through_All_MIP_Records</name>
        <label>Through All MIP Records</label>
        <locationX>415</locationX>
        <locationY>1163</locationY>
        <collectionReference>Get_Other_MIP_Improvement_Plans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Count_Per_MIP_Loop_Through</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Reference</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>To Assign a Count</description>
        <name>Through_All_OIP_Records</name>
        <label>Through All OIP Records</label>
        <locationX>1471</locationX>
        <locationY>1163</locationY>
        <collectionReference>Get_Other_OIP_Improvement_Plans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Count_Per_OIP_Loop_Through</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Reference</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>To Assign a Count</description>
        <name>Through_All_RIP_Records</name>
        <label>Through All RIP Records</label>
        <locationX>1119</locationX>
        <locationY>1163</locationY>
        <collectionReference>Get_Other_RIP_Improvement_Plans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Count_Per_RIP_Loop_Through</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Reference</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Through_DIP_IP_Records_Found</name>
        <label>Through DIP IP Records Found</label>
        <locationX>767</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_DIP_IP_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DIP_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Other_DIP_Improvement_Plans</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Through_MIP_IP_Records_Found</name>
        <label>Through MIP IP Records Found</label>
        <locationX>415</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_MIP_IP_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MIP_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Other_MIP_Improvement_Plans</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Through_OIP_IP_Records_Found</name>
        <label>Through OIP IP Records Found</label>
        <locationX>1471</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_OIP_IP_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OIP_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Other_OIP_Improvement_Plans</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Through_RIP_IP_Records_Found</name>
        <label>Through RIP IP Records Found</label>
        <locationX>1119</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_RIP_IP_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RIP_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Other_RIP_Improvement_Plans</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_DIP_IP_Record_Type</name>
        <label>Get DIP IP Record Type</label>
        <locationX>767</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_DIP_IP_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X374_Improvement_Plan__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X374IP_DIP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_DIP_IP_records</name>
        <label>Get DIP IP records</label>
        <locationX>767</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Through_DIP_IP_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_DIP_IP_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>X374IP_Primary_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.X374IP_Primary_code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>X374_Improvement_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_last_Modified_User</name>
        <label>Get last Modified User</label>
        <locationX>1617</locationX>
        <locationY>1847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set_ENG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LastModifiedBy.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MIP_IP_Record_Type</name>
        <label>Get MIP IP Record Type</label>
        <locationX>415</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MIP_IP_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X374_Improvement_Plan__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X374IP_MIP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MIP_IP_records</name>
        <label>Get  MIP IP records</label>
        <locationX>415</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Through_MIP_IP_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MIP_IP_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>X374IP_Primary_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.X374IP_Primary_code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>X374_Improvement_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OIP_IP_Record_Type</name>
        <label>Get OIP IP Record Type</label>
        <locationX>1471</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OIP_IP_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X374_Improvement_Plan__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X374IP_OIP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OIP_IP_records</name>
        <label>Get OIP IP records</label>
        <locationX>1471</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Through_OIP_IP_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OIP_IP_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>X374IP_Primary_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.X374IP_Primary_code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>X374_Improvement_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Other Improvement plans based on record type</description>
        <name>Get_Other_DIP_Improvement_Plans</name>
        <label>Get Other DIP Improvement Plans</label>
        <locationX>767</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Through_All_DIP_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_DIP_IP_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Plan_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Plan_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>X374IP_Primary_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.X374IP_Primary_code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>X374_Improvement_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Other Improvement plans based on record type</description>
        <name>Get_Other_MIP_Improvement_Plans</name>
        <label>Get Other MIP Improvement Plans</label>
        <locationX>415</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Through_All_MIP_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_MIP_IP_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Plan_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Plan_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>X374IP_Primary_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.X374IP_Primary_code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>X374_Improvement_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Other Improvement plans based on record type</description>
        <name>Get_Other_OIP_Improvement_Plans</name>
        <label>Get Other OIP Improvement Plans</label>
        <locationX>1471</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Through_All_OIP_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_OIP_IP_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Plan_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Plan_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>X374IP_Primary_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.X374IP_Primary_code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>X374_Improvement_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Other Improvement plans based on record type</description>
        <name>Get_Other_RIP_Improvement_Plans</name>
        <label>Get Other RIP Improvement Plans</label>
        <locationX>1119</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Through_All_RIP_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_RIP_IP_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Plan_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Plan_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>X374IP_Primary_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.X374IP_Primary_code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>X374_Improvement_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_set_assignment_ENG</name>
        <label>Get Permission set assignment - ENG</label>
        <locationX>1617</locationX>
        <locationY>2171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_set_assignment_MGR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_last_Modified_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permission_Set_ENG.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_set_assignment_MGR</name>
        <label>Get Permission set assignment - MGR</label>
        <locationX>1617</locationX>
        <locationY>2279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Closed_by_EIL_Engineer_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permission_Set_MGR.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_ENG</name>
        <label>Get Permission Set - ENG</label>
        <locationX>1617</locationX>
        <locationY>1955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set_MGR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APP_Performance_Portal_IP_Eng</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_MGR</name>
        <label>Get Permission Set - MGR</label>
        <locationX>1617</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_set_assignment_ENG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APP_Performance_Portal_IP_Mgr</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RIP_IP_Record_Type</name>
        <label>Get RIP IP Record Type</label>
        <locationX>1119</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RIP_IP_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X374_Improvement_Plan__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X374IP_RIP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RIP_IP_records</name>
        <label>Get RIP IP records</label>
        <locationX>1119</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Through_RIP_IP_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RIP_IP_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>X374IP_Primary_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.X374IP_Primary_code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>X374_Improvement_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Records_2</name>
        <label>Copy 1 of Update Records 2</label>
        <locationX>842</locationX>
        <locationY>2279</locationY>
        <inputAssignments>
            <field>X374IP_Date_closed__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X374IP_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X374_closed_by_EIL__c</field>
            <value>
                <elementReference>$Record.LastModifiedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Final_Closure_Set_EIL_Manager</name>
        <label>Final Closure Set EIL Manager</label>
        <locationX>2162</locationX>
        <locationY>2819</locationY>
        <inputAssignments>
            <field>Closed_by_EIL_Manager__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X374IP_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_EIL_Engineer</name>
        <label>Set EIL Engineer</label>
        <locationX>1370</locationX>
        <locationY>2495</locationY>
        <inputAssignments>
            <field>Closed_by_EIL_Engineer__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X374IP_Status__c</field>
            <value>
                <stringValue>Closure proposed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_EIL_Engineer_and_status</name>
        <label>Set EIL Engineer and status</label>
        <locationX>1634</locationX>
        <locationY>2603</locationY>
        <inputAssignments>
            <field>Closed_by_EIL_Engineer__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X374IP_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_EIL_Manager_decision</name>
        <label>Set EIL Manager</label>
        <locationX>1898</locationX>
        <locationY>2711</locationY>
        <inputAssignments>
            <field>Closed_by_EIL_Manager__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X374IP_Status__c</field>
            <value>
                <stringValue>Closure proposed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Reference</name>
        <label>Set Reference</label>
        <locationX>1075</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Improvement_Plan_Record_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>X374IP_Reference_number__c</field>
            <value>
                <elementReference>RefenceFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_3</name>
        <label>Update Record 3</label>
        <locationX>578</locationX>
        <locationY>2171</locationY>
        <inputAssignments>
            <field>X374IP_Status__c</field>
            <value>
                <stringValue>Closure proposed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X374_closed_by_SIE__c</field>
            <value>
                <elementReference>$Record.LastModifiedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>314</locationX>
        <locationY>2063</locationY>
        <inputAssignments>
            <field>X374IP_Date_closed__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X374IP_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X374_closed_by_EIL__c</field>
            <value>
                <elementReference>$Record.LastModifiedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Pending_Closure</name>
        <label>Update Status to Pending Closure</label>
        <locationX>50</locationX>
        <locationY>1955</locationY>
        <inputAssignments>
            <field>X374IP_Status__c</field>
            <value>
                <stringValue>Closure proposed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X374_closed_by_EIL__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1367</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Required_Reference_fields_populated</targetReference>
        </connector>
        <object>X374_Improvement_Plan__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
