GearsetPOC/force-app/main/default/flows/JBSystemFlow_Ticket_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObjeeb4deca85d3aec8bc43f240d1388d56_FireJBTrigger</name>
        <label>SalesforceObjeeb4deca85d3aec8bc43f240d1388d56_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{  &quot;relationshipIdName&quot;: &quot;Booker__c&quot;,  &quot;relationshipName&quot;: &quot;Booker__r&quot;,  &quot;isPolymorphic&quot;: false,  &quot;referenceObjectName&quot;: &quot;Account&quot;,  &quot;fieldName&quot;: &quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Ticket__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;PNR__c&quot;,&quot;Booker__c&quot;,&quot;First_Name__c&quot;,&quot;Delay_mins__c&quot;,&quot;Contact_Email__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Booker__r&quot;,&quot;dePrefix&quot;:&quot;Ticket__c:Booker__r:&quot;,&quot;fields&quot;:[&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjeeb4deca85d3aec8bc43f240d1388d56</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7269956</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Ticket__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>2.0</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjeeb4deca85d3aec8bc43f240d1388d56</name>
        <label>JB_Decision_Null_Check_SalesforceObjeeb4deca85d3aec8bc43f240d1388d56</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjeeb4deca85d3aec8bc43f240d1388d56_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Travel_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjeeb4deca85d3aec8bc43f240d1388d56_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjeeb4deca85d3aec8bc43f240d1388d56_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjeeb4deca85d3aec8bc43f240d1388d56_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjeeb4deca85d3aec8bc43f240d1388d56_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjeeb4deca85d3aec8bc43f240d1388d56_Decision</name>
        <label>JB_SalesforceObjeeb4deca85d3aec8bc43f240d1388d56_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjeeb4deca85d3aec8bc43f240d1388d56</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Test_Trigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjeeb4deca85d3aec8bc43f240d1388d56_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjeeb4deca85d3aec8bc43f240d1388d56</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjeeb4deca85d3aec8bc43f240d1388d56_State_change_Decision</name>
        <label>JB_SalesforceObjeeb4deca85d3aec8bc43f240d1388d56_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjeeb4deca85d3aec8bc43f240d1388d56</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Test_Trigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjeeb4deca85d3aec8bc43f240d1388d56_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjeeb4deca85d3aec8bc43f240d1388d56</label>
        </rules>
    </decisions>
    <interviewLabel>JBSystemFlow_Ticket_c {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JBSystemFlow_Ticket_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjeeb4deca85d3aec8bc43f240d1388d56</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Ticket__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Ticket__c</objectType>
    </variables>
</Flow>
