GearsetPOC/force-app/main/default/flows/Loyalty_Adjust_Status_Points.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Credit_Status_Points</name>
        <label>Credit Status Points</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>creditPoints</actionName>
        <actionType>creditPoints</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>$Record.MemberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Status Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>$Record.Points__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>creditPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_LPM_Inactive</name>
        <label>Is LPM Inactive ?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_TJ_for_Inactive_LPM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Status_Points</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Loyalty - Adjust Status Points {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty - Adjust Status Points</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_TJ_for_Inactive_LPM</name>
        <label>Update TJ for Inactive LPM</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ErrorDescription</field>
            <value>
                <stringValue>Inactive Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_LPM_Inactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Journal_SubType_ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AdjustStatusPoints</stringValue>
            </value>
        </filters>
        <object>TransactionJournal</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
