GearsetPOC/force-app/main/default/flows/Loyalty_Member_Tier.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <description>This is to check if the Current Tier Date is less than the Previous Expiration Date, indicating that the Tier hasn&#39;t changed.</description>
        <name>CurrentTierDate_Check</name>
        <label>CurrentTierDate Check</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Set_Tier_Renewal_Outcome_to_Downgrade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tier Has Changed</defaultConnectorLabel>
        <rules>
            <name>Tier_Hasn_t_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formCurrentTierDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.LastResetDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tier_Renewal_Outcome_to_Remained</targetReference>
            </connector>
            <label>Tier Hasn&#39;t Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>A date value for the CurrentTier DateTime field</description>
        <name>formCurrentTierDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Member_Tier.CurrentTierDateTime__c})</expression>
    </formulas>
    <formulas>
        <name>fRenewalOutcomeDowngrade</name>
        <dataType>String</dataType>
        <expression>&quot;Soft Downgraded to: &quot; &amp; {!Get_Member_Tier.Name}</expression>
    </formulas>
    <formulas>
        <name>fRenewalOutcomeRemained</name>
        <dataType>String</dataType>
        <expression>&quot;Remained In: &quot; &amp; {!Get_Member_Tier.Name}</expression>
    </formulas>
    <interviewLabel>Loyalty - Member Tier {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty - Member Tier Renewal History</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Loyalty_Tier_History_Record</name>
        <label>Create Loyalty Tier History Record</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>FromTierStartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loyalty_Program_Member__c</field>
            <value>
                <elementReference>$Record.LoyaltyMemberId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Tier__c</field>
            <value>
                <elementReference>Get_Member_Tier.LoyaltyTierId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Tier__c</field>
            <value>
                <elementReference>Get_Member_Tier.LoyaltyTierId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToTierStartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Loyalty_Tier_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Member_Tier</name>
        <label>Get Member Tier</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CurrentTierDate_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoyaltyMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LoyaltyMemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyMemberTier</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Tier_Renewal_Outcome_to_Downgrade</name>
        <label>Set Tier Renewal Outcome to Downgrade</label>
        <locationX>506</locationX>
        <locationY>492</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member_Tier.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RenewalTierOutcome__c</field>
            <value>
                <elementReference>fRenewalOutcomeDowngrade</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyMemberTier</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Tier_Renewal_Outcome_to_Remained</name>
        <label>Set Tier Renewal Outcome to Remained</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Create_Loyalty_Tier_History_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member_Tier.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RenewalTierOutcome__c</field>
            <value>
                <elementReference>fRenewalOutcomeRemained</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyMemberTier</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterFormula>ISCHANGED({!$Record.NextResetDate})</filterFormula>
        <object>LoyaltyMemberCurrency</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Wait_until_Tier_Downgrade_Processing_takes_place</name>
            <connector>
                <targetReference>Get_Member_Tier</targetReference>
            </connector>
            <label>Wait until Tier Downgrade/Processing takes place</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
