GearsetPOC/force-app/main/default/flows/Loyalty_Update_Tier_Immunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Loyalty - Update Tier Immunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty - Update Tier Immunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_LPM</name>
        <label>Update LPM</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LoyaltyMember.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Manual_Tier_Immunity_Level__c</field>
            <value>
                <elementReference>$Record.LoyaltyTierId</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyProgramMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tier_Immunity</name>
        <label>Update Tier Immunity</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_LPM</targetReference>
        </connector>
        <inputAssignments>
            <field>ChangeReasonType</field>
            <value>
                <stringValue>Invitation-Elite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier_Immunity_Reason__c</field>
            <value>
                <stringValue>Invitation-Elite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier_Immunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Tier_Immunity</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Elite</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tier_Immunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>LoyaltyMemberTier</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
