GearsetPOC/force-app/main/default/flows/Loyalty_Process_Subscription_Service.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Credit_Reward_Points</name>
        <label>Credit Reward Points</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <actionName>creditPoints</actionName>
        <actionType>creditPoints</actionType>
        <connector>
            <targetReference>Get_Member_Tier</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>$Record.MemberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Reward Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>Get_Subscription_Rules.Points_Value__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PointsExpirationDate</name>
        </inputParameters>
        <inputParameters>
            <name>AdditionalNotes</name>
            <value>
                <stringValue>Subscription Service</stringValue>
            </value>
        </inputParameters>
        <nameSegment>creditPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Credit_Status_Points</name>
        <label>Credit Status Points</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <actionName>creditPoints</actionName>
        <actionType>creditPoints</actionType>
        <connector>
            <targetReference>Get_Member_Tier</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>$Record.MemberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Status Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>Get_Subscription_Rules.Points_Value__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PointsExpirationDate</name>
        </inputParameters>
        <inputParameters>
            <name>AdditionalNotes</name>
            <value>
                <stringValue>Subscription Service</stringValue>
            </value>
        </inputParameters>
        <nameSegment>creditPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Credit_Status_Points1</name>
        <label>Credit Status Points</label>
        <locationX>314</locationX>
        <locationY>684</locationY>
        <actionName>creditPoints</actionName>
        <actionType>creditPoints</actionType>
        <connector>
            <targetReference>Credit_Reward_Points</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>$Record.MemberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Status Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>Get_Subscription_Rules.Points_Value__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PointsExpirationDate</name>
        </inputParameters>
        <inputParameters>
            <name>AdditionalNotes</name>
            <value>
                <stringValue>Subscription Service</stringValue>
            </value>
        </inputParameters>
        <nameSegment>creditPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_the_LPM_Inactive</name>
        <label>Is the LPM Inactive ?</label>
        <locationX>380</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Update_TJ_for_Inactive_LPM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Subscription_Rules</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opt_Out_From_Reward_Points</name>
        <label>Opt Out From Reward Points ?</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Credit_Status_Points1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opt_Out_From_Reward_Points__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Status_Points</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Time_to_Process_Points_arrived</name>
        <label>Time to Process Points arrived ?</label>
        <locationX>611</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transaction_Journal_Process_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_LPM_Inactive</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fStatusPointsToNextTier</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Get_Member_Tier.LoyaltyTier.Maximum_Threshold__c}),
 {!Get_Member_Tier.LoyaltyTier.Maximum_Threshold__c}+1, 
({!Get_Member_Tier.LoyaltyTier.Maximum_Threshold__c} - {!Get_Member_Currency.PointsBalance})+1 )</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Loyalty - Process S {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty - Process Subscription Service</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Member_Currency</name>
        <label>Get Member Currency</label>
        <locationX>182</locationX>
        <locationY>1092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_LPM_last_activity_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoyaltyMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MemberId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Status Points</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyMemberCurrency</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Member_Tier</name>
        <label>Get Member Tier</label>
        <locationX>182</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Member_Currency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoyaltyMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyMemberTier</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Rules</name>
        <label>Get Subscription Rules</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opt_Out_From_Reward_Points</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subscription_Rules__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription_Rules__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_LPM_last_activity_date</name>
        <label>Update LPM last activity date</label>
        <locationX>182</locationX>
        <locationY>1200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MemberId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusPointsToRemainInTier__c</field>
            <value>
                <elementReference>Get_Member_Tier.LoyaltyTier.Minimum_Threshold__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Points_To_Next_Tier__c</field>
            <value>
                <elementReference>fStatusPointsToNextTier</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyProgramMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TJ_for_Inactive_LPM</name>
        <label>Update TJ for Inactive LPM</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>ErrorDescription</field>
            <value>
                <stringValue>Inactive Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Time_to_Process_Points_arrived</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Journal_SubType_ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </filters>
        <filters>
            <field>Oassis_Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TransactionJournal</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-01</startDate>
            <startTime>08:03:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
