GearsetPOC/force-app/main/default/flows/Loyalty_Cancellation_of_a_Subscription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Cancelation_or_Expiration</name>
        <label>Cancelation or Expiration ?</label>
        <locationX>644</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>Get_Active_Subscriptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancelation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_Related_Journal</targetReference>
            </connector>
            <label>Cancelation</label>
        </rules>
        <rules>
            <name>Expiration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Expiration_JST</targetReference>
            </connector>
            <label>Expiration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cancellation_before_Reward_Interval</name>
        <label>Cancellation before Reward Interval</label>
        <locationX>644</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Initial_Subscription_TJ.Transaction_Journal_Process_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Related_Journal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Initial_Subscription_TJ.Transaction_Journal_Process_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancelation_or_Expiration</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_there_a_Related_Journal</name>
        <label>Copy 1 of Is there a Related Journal?</label>
        <locationX>710</locationX>
        <locationY>1595</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Initial_Subscription_TJ.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Expiration_TJ</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_LPM_Check</name>
        <label>Get LPM Check</label>
        <locationX>963</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Nothing Found</defaultConnectorLabel>
        <rules>
            <name>Found_LPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LPM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accrual_JT</targetReference>
            </connector>
            <label>Found LPM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Related_Journal</name>
        <label>Is there a Related Journal?</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Initial_Subscription_TJ.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Cancelation_TJ</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_any_Active_Subscription</name>
        <label>Is there any Active Subscription?</label>
        <locationX>644</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Get_Subscription_Rule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yesss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Subscriptions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Tier_LvL_Higher</name>
        <label>Subscription Tier LvL Higher ?</label>
        <locationX>820</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Update_Subscription_Immunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LPM.Subscription_Tier_Immunity_Level__r.SequenceNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Subscription_Rule.Tier_Upgrade__r.SequenceNumber</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LPM.Subscription_Tier_Immunity_Level__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loyalty_Subflow_Tier_Downgrade</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Loyalty - Cancellation of a Subscription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty - Cancellation of a Subscription</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Cancelation_TJ</name>
        <label>Create a Cancelation TJ</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Get_Active_Subscriptions</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalSubTypeId</field>
            <value>
                <elementReference>Get_Subscription_Cancellation_JST.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalTypeId</field>
            <value>
                <elementReference>Get_Return_JT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyProgramId</field>
            <value>
                <elementReference>Get_LPM.ProgramId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>Get_LPM.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedJournalId</field>
            <value>
                <elementReference>Get_Initial_Subscription_TJ.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <object>TransactionJournal</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Expiration_TJ</name>
        <label>Create a Expiration TJ</label>
        <locationX>578</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Get_Active_Subscriptions</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalSubTypeId</field>
            <value>
                <elementReference>Get_Expiration_JST.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalTypeId</field>
            <value>
                <elementReference>Get_Return_JT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyProgramId</field>
            <value>
                <elementReference>Get_LPM.ProgramId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>Get_LPM.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedJournalId</field>
            <value>
                <elementReference>Get_Initial_Subscription_TJ.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TransactionJournal</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Accrual_JT</name>
        <label>Get Accrual JT</label>
        <locationX>644</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Subscription_JST</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accrual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Subscriptions</name>
        <label>Get Active Subscriptions</label>
        <locationX>644</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_any_Active_Subscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Expiration_JST</name>
        <label>Get Expiration JST</label>
        <locationX>710</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Is_there_a_Related_Journal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SubscriptionExpiration</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalSubType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Initial_Subscription_TJ</name>
        <label>Get Initial Subscription TJ</label>
        <locationX>644</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Return_JT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LPM.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>JournalSubTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Subscription_JST.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>JournalTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Accrual_JT.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TransactionJournal</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LPM</name>
        <label>Get LPM</label>
        <locationX>963</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_LPM_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member__r.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Return_JT</name>
        <label>Get Return JT</label>
        <locationX>644</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Subscription_Cancellation_JST</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Return</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Cancellation_JST</name>
        <label>Get Subscription Cancellation JST</label>
        <locationX>644</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cancellation_before_Reward_Interval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CancellationSubscription</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalSubType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_JST</name>
        <label>Get Subscription JST</label>
        <locationX>644</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Initial_Subscription_TJ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalSubType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Rule</name>
        <label>Get Subscription Rule</label>
        <locationX>820</locationX>
        <locationY>2195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subscription_Tier_LvL_Higher</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Tariff_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription_Rules__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_Related_Journal</name>
        <label>Cancel Related Journal</label>
        <locationX>424</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Cancelation_or_Expiration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Initial_Subscription_TJ.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>TransactionJournal</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_LvL</name>
        <label>Update Member LvL</label>
        <locationX>908</locationX>
        <locationY>2519</locationY>
        <connector>
            <targetReference>Loyalty_Subflow_Tier_Downgrade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LPM.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subscription_Tier_Immunity_Level__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>LoyaltyProgramMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subscription_Immunity</name>
        <label>Update Subscription Immunity</label>
        <locationX>908</locationX>
        <locationY>2411</locationY>
        <connector>
            <targetReference>Update_Member_LvL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoyaltyMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LPM.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subscription_Immunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>LoyaltyMemberTier</object>
    </recordUpdates>
    <start>
        <locationX>837</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_LPM</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Subscription__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Loyalty_Subflow_Tier_Downgrade</name>
        <label>Loyalty - Subflow Tier Downgrade</label>
        <locationX>820</locationX>
        <locationY>2711</locationY>
        <flowName>Loyalty_Subflow_Tier_Downgrade</flowName>
        <inputAssignments>
            <name>LPMId</name>
            <value>
                <elementReference>Get_LPM.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSubscription</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
