GearsetPOC/force-app/main/default/flows/Loyalty_Manual_Ticket_Linking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Apex_OSF_RetroTicketLining</name>
        <label>Call Apex OSF_RetroTicketLining</label>
        <locationX>797</locationX>
        <locationY>1403</locationY>
        <actionName>OSF_RetroTicketLining</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Apex_Response</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>membershipNumber</name>
            <value>
                <elementReference>vMembershipNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pnr</name>
            <value>
                <elementReference>Get_Ticket_Sales_Processing_record.PNR__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tcn</name>
            <value>
                <elementReference>vTicketNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OSF_RetroTicketLining</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>OSF_RetroTicketLinkingOverRideName</name>
        <label>OSF_RetroTicketLinkingOverRideName</label>
        <locationX>807</locationX>
        <locationY>2355</locationY>
        <actionName>OSF_RetroTicketLinkingOverRideName</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Apex_Response_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>membershipNumber</name>
            <value>
                <elementReference>vMembershipNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Passenger_First_Name</name>
            <value>
                <elementReference>Passenger_First_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Passenger_Last_Name</name>
            <value>
                <elementReference>Passenger_Last_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pnr</name>
            <value>
                <elementReference>Get_Ticket_Sales_Processing_record.PNR__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tcn</name>
            <value>
                <elementReference>vTicketNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OSF_RetroTicketLinkingOverRideName</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Ticket_Number</name>
        <label>Assign Ticket Number</label>
        <locationX>595</locationX>
        <locationY>1171</locationY>
        <assignmentItems>
            <assignToReference>vTicketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ticket_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_TCN_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ticket_Number_2</name>
        <label>Assign Ticket Number</label>
        <locationX>906</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>vTicketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ticket_Sales_Processing_record.TCN__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Apex_OSF_RetroTicketLining</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>628</locationX>
        <locationY>805</locationY>
        <assignmentItems>
            <assignToReference>vMembershipNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MemberShipNumber.recordName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables2</name>
        <label>Assign Variables</label>
        <locationX>918</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>vMembershipNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ticket_Sales_Processing_record.MemberShip_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Member</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>False</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>False</stringValue>
        </value>
    </choices>
    <choices>
        <name>True</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>True</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Member_Active</name>
        <label>Is Member Active?</label>
        <locationX>978</locationX>
        <locationY>919</locationY>
        <defaultConnector>
            <targetReference>InactiveMember</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Member.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TCN_is_Null</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Member_Linked</name>
        <label>Is Member Linked?</label>
        <locationX>769</locationX>
        <locationY>391</locationY>
        <defaultConnector>
            <targetReference>MemberShip_Number_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yessss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Ticket_Sales_Processing_record.User_Link__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MemberLinkeeddd</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Name_Mismatch</name>
        <label>Is Name Mismatch?</label>
        <locationX>782</locationX>
        <locationY>1754</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Name_Mismatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Apex_OSF_RetroTicketLining.resultMessage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NameMismatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Override</targetReference>
            </connector>
            <label>Name Mismatched?</label>
        </rules>
        <rules>
            <name>NotSucessNotNameMismatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Apex_OSF_RetroTicketLining.resultMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Call_Apex_OSF_RetroTicketLining.resultMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NameMismatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TCN_0_0</targetReference>
            </connector>
            <label>NotSucessNotNameMismatched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Success</name>
        <label>Is Success?</label>
        <locationX>857</locationX>
        <locationY>2666</locationY>
        <defaultConnector>
            <targetReference>Update_TCN_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OSF_RetroTicketLinkingOverRideName.resultMessage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TSP</targetReference>
            </connector>
            <label>SuccessWithTCN</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsTrue</name>
        <label>IsTrue?</label>
        <locationX>786</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>Update_TCN_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trueee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OverrideNames</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>MemberShip_Number_is_null</name>
        <label>MemberShip Number is null ?</label>
        <locationX>766</locationX>
        <locationY>644</locationY>
        <defaultConnector>
            <targetReference>Assign_Variables2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Ticket_Sales_Processing_record.MemberShip_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manual_Ticket_Linking</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TCN_is_Null</name>
        <label>TCN is Null?</label>
        <locationX>753</locationX>
        <locationY>1022</locationY>
        <defaultConnector>
            <targetReference>Assign_Ticket_Number_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>TCN_Null_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Ticket_Sales_Processing_record.TCN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ticket_Number_Input</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Yes/No instead of True/False</description>
    <environments>Default</environments>
    <formulas>
        <name>CheckPicklistValue</name>
        <dataType>Boolean</dataType>
        <expression>IF({!AssignPicklist}= &quot;True&quot;, true, false)</expression>
    </formulas>
    <formulas>
        <name>fApexOverrideResult</name>
        <dataType>String</dataType>
        <expression>CASE(
   {!OSF_RetroTicketLinkingOverRideName.resultMessage},
    &quot;success&quot;, &quot;Member Was Successfully Linked&quot;,
    &quot;ticketNotFound&quot;, &quot;Ticket was not Found&quot;,
    &quot;cancelledTicket&quot;, &quot;Ticket is already cancelled&quot;,
&quot;invalidParameters&quot;,&quot;Something went wrong please try again&quot;,
&quot;inactiveMember&quot;,&quot;Loyalty Member is Inactive&quot;,
&quot;TicketAlreadyLinked&quot;,&quot;Ticket is Already Linked&quot;,
&quot;90DaysPassed&quot;,&quot;90 Days have Passed not possible to link anymore&quot;,
&quot;NameMismatched&quot;,&quot;The name is not correct&quot;,
&quot;TicketAlreadyCheckedIn&quot;,&quot;This ticket already made the check-in&quot;,
&quot;memberEarnedPointsOnSameDay&amp;Route&quot;,&quot;Something went wrong please try again&quot;,
&quot;invalidMembership&quot;,&quot;Membership number is invalid&quot;,
    &quot;Something went wrong please try again&quot;
)</expression>
    </formulas>
    <formulas>
        <name>fApexResult</name>
        <dataType>String</dataType>
        <expression>CASE(
    {!Call_Apex_OSF_RetroTicketLining.resultMessage},
    &quot;success&quot;, &quot;Member Was Successfully Linked&quot;,
    &quot;ticketNotFound&quot;, &quot;Ticket was not Found&quot;,
    &quot;cancelledTicket&quot;, &quot;Ticket is already cancelled&quot;,
&quot;invalidParameters&quot;,&quot;Something went wrong please try again&quot;,
&quot;inactiveMember&quot;,&quot;Loyalty Member is Inactive&quot;,
&quot;TicketAlreadyLinked&quot;,&quot;Ticket is Already Linked&quot;,
&quot;90DaysPassed&quot;,&quot;90 Days have Passed not possible to link anymore&quot;,
&quot;NameMismatched&quot;,&quot;The name is not correct&quot;,
&quot;TicketAlreadyCheckedIn&quot;,&quot;This ticket already made the check-in&quot;,
&quot;memberEarnedPointsOnSameDay&amp;Route&quot;,&quot;Something went wrong please try again&quot;,
&quot;invalidMembership&quot;,&quot;Membership number is invalid&quot;,
    &quot;Something went wrong please try again&quot;
)</expression>
    </formulas>
    <interviewLabel>Loyalty - Manual Membership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty - Manual Ticket Linking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Member</name>
        <label>get Member</label>
        <locationX>770</locationX>
        <locationY>808</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Member_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MembershipNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vMembershipNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ticket_Sales_Processing_record</name>
        <label>Get Ticket Sales Processing record</label>
        <locationX>776</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Member_Linked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ticket_Sales_Processing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_TCN_0</name>
        <label>Update TCN</label>
        <locationX>698</locationX>
        <locationY>1289</locationY>
        <connector>
            <targetReference>Call_Apex_OSF_RetroTicketLining</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TCN__c</field>
            <value>
                <elementReference>vTicketNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Ticket_Sales_Processing__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TCN_0_0</name>
        <label>Update TCN</label>
        <locationX>1066</locationX>
        <locationY>1740</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TCN__c</field>
            <value>
                <elementReference>Get_Ticket_Sales_Processing_record.TCN__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ticket_Sales_Processing__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TCN_0_0_0</name>
        <label>Update TCN</label>
        <locationX>1029</locationX>
        <locationY>2039</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TCN__c</field>
            <value>
                <elementReference>Get_Ticket_Sales_Processing_record.TCN__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ticket_Sales_Processing__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TCN_0_0_0_0</name>
        <label>Update TCN</label>
        <locationX>1056</locationX>
        <locationY>2667</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TCN__c</field>
            <value>
                <elementReference>Get_Ticket_Sales_Processing_record.TCN__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ticket_Sales_Processing__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TSP</name>
        <label>Update TSP</label>
        <locationX>871</locationX>
        <locationY>2787</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Ticket_Sales_Processing_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Manual_Ticket_Linking_Override__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passenger_First_Name__c</field>
            <value>
                <elementReference>Passenger_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passenger_Last_Name__c</field>
            <value>
                <elementReference>Passenger_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Ticket_Sales_Processing__c</object>
    </recordUpdates>
    <screens>
        <name>Apex_Response</name>
        <label>Apex Response</label>
        <locationX>794</locationX>
        <locationY>1579</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Name_Mismatch</targetReference>
        </connector>
        <fields>
            <name>Response_from_Apex</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!fApexResult}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Apex_Response_0</name>
        <label>Apex Response</label>
        <locationX>835</locationX>
        <locationY>2544</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Success</targetReference>
        </connector>
        <fields>
            <name>Response_from_Apex_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!fApexOverrideResult}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InactiveMember</name>
        <label>InactiveMember</label>
        <locationX>1196</locationX>
        <locationY>916</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MemberInactive</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Loyalty Member is Inactive&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Manual_Ticket_Linking</name>
        <label>Manual Ticket Linking</label>
        <locationX>628</locationX>
        <locationY>642</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
        <fields>
            <name>FirstDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please enter the&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt; Membership Number&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MemberShipNumber</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Ticket_Sales_Processing__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Loyalty Program Member</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>User_Link__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MemberLinkeeddd</name>
        <label>MemberLinkeeddd</label>
        <locationX>511</locationX>
        <locationY>391</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MemberLinked</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Member Is Already Linked&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Override</name>
        <label>Override</label>
        <locationX>795</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsTrue</targetReference>
        </connector>
        <fields>
            <name>WouldOverride</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Would you like to override the Name?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choices</name>
            <choiceReferences>False</choiceReferences>
            <choiceReferences>True</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choices</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OverrideNames</name>
        <label>OverrideNames</label>
        <locationX>794</locationX>
        <locationY>2185</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OSF_RetroTicketLinkingOverRideName</targetReference>
        </connector>
        <fields>
            <name>Passenger_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Passenger First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Passenger_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Passenger Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ticket_Number_Input</name>
        <label>Ticket Number Input</label>
        <locationX>595</locationX>
        <locationY>1022</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Ticket_Number</targetReference>
        </connector>
        <fields>
            <name>ManualTicketNumberInput</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please enter the Ticket Number&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ticket_Number</name>
            <dataType>String</dataType>
            <fieldText>Ticket Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Ticket_Sales_Processing_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignPicklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>validateName</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vLPMNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMembershipNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
