GearsetPOC/force-app/main/default/flows/Loyalty_Automatic_Closing_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Loyalty - Automatic Closing Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty - Automatic Closing Accounts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Inactivation_TJ</name>
        <label>Create Inactivation TJ</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <connector>
            <targetReference>Update_LPM_to_Inactive</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalSubTypeId</field>
            <value>
                <elementReference>Get_AutoClose_Subtype_JST.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalTypeId</field>
            <value>
                <elementReference>Get_Inactivation_JT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyProgramId</field>
            <value>
                <elementReference>$Record.Program.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <object>TransactionJournal</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_AutoClose_Subtype_JST</name>
        <label>Get AutoClose Subtype JST</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Inactivation_TJ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JournalTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Inactivation_JT.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AutoCloseAcc</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalSubType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inactivation_JT</name>
        <label>Get Inactivation JT</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AutoClose_Subtype_JST</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactivation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_LPM_to_Inactive</name>
        <label>Update LPM to Inactive</label>
        <locationX>176</locationX>
        <locationY>636</locationY>
        <inputAssignments>
            <field>MemberStatus</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Inactivation_JT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ready_to_Auto_Close__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MemberStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>LoyaltyProgramMember</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-02-20</startDate>
            <startTime>09:41:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
