GearsetPOC/force-app/main/default/flows/Loyalty_Update_Manual_Tier_Immunity_lvl.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Manual_Tier_Immunity</name>
        <label>Manual Tier Immunity</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Immunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Tier_Immunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LPM_Manual_Tier_Immunity</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Immunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Tier_Immunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LPM_Manual_Tier_Immunity1</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Loyalty - Update Manual Tier Immunity lvl {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty - Update Manual Tier Immunity lvl</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_LPM_Manual_Tier_Immunity</name>
        <label>Update LPM Manual Tier Immunity</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LoyaltyMemberId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Manual_Tier_Immunity_Level__c</field>
            <value>
                <elementReference>$Record.LoyaltyTier.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyProgramMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LPM_Manual_Tier_Immunity1</name>
        <label>Update LPM Manual Tier Immunity</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Loyalty_Subflow_Tier_Downgrade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LoyaltyMemberId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Manual_Tier_Immunity_Level__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>LoyaltyProgramMember</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Manual_Tier_Immunity</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Tier_Immunity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LoyaltyMemberTier</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Loyalty_Subflow_Tier_Downgrade</name>
        <label>Loyalty - Subflow Tier Downgrade</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <flowName>Loyalty_Subflow_Tier_Downgrade</flowName>
        <inputAssignments>
            <name>LPMId</name>
            <value>
                <elementReference>$Record.LoyaltyMemberId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vManualTierImmunity</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
