GearsetPOC/force-app/main/default/flows/Loyalty_Subscription_Service.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Change_to_Avantage</name>
        <label>Change to Avantage</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <actionName>changeTier</actionName>
        <actionType>changeTier</actionType>
        <connector>
            <targetReference>Subscription_Tier_Immunity_LvL_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>Get_LPM.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TierGroupName</name>
            <value>
                <stringValue>Club Eurostar Tier Group</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetTierName</name>
            <value>
                <stringValue>Avantage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ChangeReason</name>
            <value>
                <stringValue>Subscriptions</stringValue>
            </value>
        </inputParameters>
        <nameSegment>changeTier</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Change_to_Etoile</name>
        <label>Change to Etoile</label>
        <locationX>314</locationX>
        <locationY>1595</locationY>
        <actionName>changeTier</actionName>
        <actionType>changeTier</actionType>
        <connector>
            <targetReference>Subscription_Tier_Immunity_LvL_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>Get_LPM.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TierGroupName</name>
            <value>
                <stringValue>Club Eurostar Tier Group</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetTierName</name>
            <value>
                <stringValue>Etoile</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ChangeReason</name>
            <value>
                <stringValue>Subscriptions</stringValue>
            </value>
        </inputParameters>
        <nameSegment>changeTier</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Same_Tier1</name>
        <label>Same Tier</label>
        <locationX>578</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>vSameTier</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subscription_Tier_Immunity_LvL_Check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Get_Subscription_TJ</name>
        <label>Check Get Subscription TJ</label>
        <locationX>446</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Create_Subscription_TJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LPM does not have a Sub TJ</defaultConnectorLabel>
        <rules>
            <name>LPM_already_have_a_Sub_TJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subscription_TJ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_TJ</targetReference>
            </connector>
            <label>LPM already have a Sub TJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_LPM_Inactive</name>
        <label>Is LPM Inactive ?</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LPM.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Status_Points_Currency</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_tier2</name>
        <label>Same tier ?</label>
        <locationX>446</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>Update_LMT_Subscription_Immunity_Flag_Change_Reason_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSameTier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LMT_Subscription_Immunity_Flag1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Tier_Immunity_LvL_Check</name>
        <label>Subscription Tier Immunity LvL Check</label>
        <locationX>446</locationX>
        <locationY>1787</locationY>
        <defaultConnectorLabel>Greater Value</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LPM.Subscription_Tier_Immunity_Level__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LPM_Immunity_Flag_Immunity_LvL</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
        <rules>
            <name>Lower_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LPM.Subscription_Tier_Immunity_Level__r.SequenceNumber</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Subscription_Rules.Tier_Upgrade__r.SequenceNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LPM_Immunity_Flag_Immunity_LvL</targetReference>
            </connector>
            <label>Lower Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Upgrade_LPM</name>
        <label>Upgrade LPM</label>
        <locationX>446</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Upgrade_to_Avantage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subscription_Rules.Tier_Upgrade__r.SequenceNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Member_Tier.LoyaltyTier.SequenceNumber</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Subscription_Rules.Tier_Upgrade__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Avantage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_to_Avantage</targetReference>
            </connector>
            <label>Upgrade to Avantage</label>
        </rules>
        <rules>
            <name>Upgrade_to_Etoile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subscription_Rules.Tier_Upgrade__r.SequenceNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Member_Tier.LoyaltyTier.SequenceNumber</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Subscription_Rules.Tier_Upgrade__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Etoile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_to_Etoile</targetReference>
            </connector>
            <label>Upgrade to Etoile</label>
        </rules>
        <rules>
            <name>Same_TIer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subscription_Rules.Tier_Upgrade__r.SequenceNumber</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Member_Tier.LoyaltyTier.SequenceNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Same_Tier1</targetReference>
            </connector>
            <label>Same TIer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fNextResetPlusOneYear</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH({!Get_Status_Points_Currency.NextResetDate}) = 2 &amp;&amp; DAY({!Get_Status_Points_Currency.NextResetDate}) = 29, DATE(YEAR({!Get_Status_Points_Currency.NextResetDate}) + 1, 2, 28), 
    DATE(YEAR({!Get_Status_Points_Currency.NextResetDate})+ 1, MONTH({!Get_Status_Points_Currency.NextResetDate}), DAY({!Get_Status_Points_Currency.NextResetDate}))
)</expression>
    </formulas>
    <formulas>
        <name>fTierExpirationDate</name>
        <dataType>Date</dataType>
        <expression>IF({!Get_Member_Tier.TierExpirationDate} = {!fNextResetPlusOneYear}, {!fNextResetPlusOneYear}, {!Get_Status_Points_Currency.NextResetDate})</expression>
    </formulas>
    <interviewLabel>Loyalty - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty - Subscription Service</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Subscription_TJ</name>
        <label>Create Subscription TJ</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Get_Member_Tier</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalSubTypeId</field>
            <value>
                <elementReference>Get_Subscription_JST.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalTypeId</field>
            <value>
                <elementReference>Get_Accrual_JT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyProgramId</field>
            <value>
                <elementReference>Get_LPM.ProgramId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>Get_LPM.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Active_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Rules__c</field>
            <value>
                <elementReference>Get_Subscription_Rules.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TransactionJournal</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Accrual_JT</name>
        <label>Get Accrual JT</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Subscription_JST</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accrual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LPM</name>
        <label>Get LPM</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_LPM_Inactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member__r.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Member_Tier</name>
        <label>Get Member Tier</label>
        <locationX>446</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Upgrade_LPM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoyaltyMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LPM.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyMemberTier</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Status_Points_Currency</name>
        <label>Get Status Points Currency</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Subscription_Rules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoyaltyMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LPM.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Status Points</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyMemberCurrency</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_JST</name>
        <label>Get Subscription JST</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Subscription_TJ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JournalTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Accrual_JT.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalSubType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Rules</name>
        <label>Get Subscription Rules</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accrual_JT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Tariff_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription_Rules__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_TJ</name>
        <label>Get Subscription TJ</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Subscription_TJ</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND (3 OR 9) AND 4 AND 5 AND 6 AND 7 AND 8)</filterLogic>
        <filters>
            <field>JournalSubTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Subscription_JST.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>JournalTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Accrual_JT.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>LoyaltyProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LPM.Program.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LPM.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscription_Active_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Oassis_Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TransactionJournal</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_TJ</name>
        <label>Update Existing TJ</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Get_Member_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Subscription_TJ.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subscription_Active_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>TransactionJournal</object>
    </recordUpdates>
    <recordUpdates>
        <description>Loyalty Member Tier Update</description>
        <name>Update_LMT_Subscription_Immunity_Flag1</name>
        <label>Update LMT Subscription Immunity Flag</label>
        <locationX>314</locationX>
        <locationY>2303</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member_Tier.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subscription_Immunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TierExpirationDate</field>
            <value>
                <elementReference>Get_Status_Points_Currency.NextResetDate</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyMemberTier</object>
    </recordUpdates>
    <recordUpdates>
        <description>Loyalty Member Tier Update</description>
        <name>Update_LMT_Subscription_Immunity_Flag_Change_Reason_Type</name>
        <label>Update LMT Subscription Immunity Flag + Change Reason Type</label>
        <locationX>578</locationX>
        <locationY>2303</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member_Tier.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChangeReasonType</field>
            <value>
                <stringValue>Subscriptions</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Immunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TierExpirationDate</field>
            <value>
                <elementReference>fTierExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyMemberTier</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LPM_Immunity_Flag_Immunity_LvL</name>
        <label>Update LPM Immunity Flag + Immunity LvL</label>
        <locationX>446</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Same_tier2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LPM.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subscription_Tier_Immunity_Level__c</field>
            <value>
                <elementReference>Get_Subscription_Rules.Tier_Upgrade__c</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyProgramMember</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_LPM</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Member__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Subscription__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vSameTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>false</stringValue>
        </value>
    </variables>
</Flow>
