GearsetPOC/force-app/main/default/flows/Loyalty_Reward_Points_Survey_Participation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Credit_NQP</name>
        <label>Credit NQP</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>creditPoints</actionName>
        <actionType>creditPoints</actionType>
        <connector>
            <targetReference>Update_LPM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>$Record.Member.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Reward Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>$Record.Points__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PointsExpirationDate</name>
        </inputParameters>
        <inputParameters>
            <name>AdditionalNotes</name>
            <value>
                <stringValue>Reward Points - Survey Participation</stringValue>
            </value>
        </inputParameters>
        <nameSegment>creditPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_LPM_Inactive</name>
        <label>Is LPM Inactive ?</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_Out_From_Reward_Points__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_NQP</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TJ_for_Inactive_LPM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Opt_Out_From_Reward_Points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_Out_From_Reward_Points__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TJ_for_Opt_Out_from_Reward_Points_LPM</targetReference>
            </connector>
            <label>Opt Out From Reward Points</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Loyalty - Reward Points - Survey Participation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty - Reward Points - Survey Participation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_LPM</name>
        <label>Update LPM</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MemberId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyProgramMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TJ_for_Inactive_LPM</name>
        <label>Update TJ for Inactive LPM</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ErrorDescription</field>
            <value>
                <stringValue>Inactive Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TJ_for_Opt_Out_from_Reward_Points_LPM</name>
        <label>Update TJ for Opt Out from Reward Points LPM</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ErrorDescription</field>
            <value>
                <stringValue>Opt Out of Reward Points</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_LPM_Inactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Journal_SubType_ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SurveyParticipation</stringValue>
            </value>
        </filters>
        <object>TransactionJournal</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
