GearsetPOC/force-app/main/default/flows/Loyalty_Cancellation_of_a_Ticket.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Debit_Reward_Points</name>
        <label>Debit Reward Points</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <actionName>debitPoints</actionName>
        <actionType>debitPoints</actionType>
        <connector>
            <targetReference>Debit_Status_Points</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AdditionalNotes</name>
            <value>
                <stringValue>Cancellation of a ticket</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>$Record.Member.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>vRewardPoints</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Reward Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <nameSegment>debitPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Debit_Status_Points</name>
        <label>Debit Status Points</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <actionName>debitPoints</actionName>
        <actionType>debitPoints</actionType>
        <connector>
            <targetReference>Update_Related_Transaction_Journal</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AdditionalNotes</name>
            <value>
                <stringValue>Cancellation of a ticket</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>$Record.Member.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>Get_Status_Points_Ledger_from_Related_Journal.Points</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Status Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <nameSegment>debitPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Reward_Points_to_Debit</name>
        <label>Assign Reward Points to Debit</label>
        <locationX>138</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>vRewardPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Journal_Reward_Points_Ledgers.Points</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Journal_Reward_Points_Ledgers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_LPM_Inactive</name>
        <label>Is LPM Inactive ?</label>
        <locationX>468</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Status_Points_Currency</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TJ_for_Inactive_LPM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Journal_have_Reward_Points</name>
        <label>Related Journal have Reward Points ?</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Debit_Status_Points</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reward_Points_Ledger_from_Related_Journal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Related_Journal_Reward_Points_Ledgers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Loyalty - Cancellation of a Ticket {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty - Cancellation of a Ticket</label>
    <loops>
        <name>Loop_Related_Journal_Reward_Points_Ledgers</name>
        <label>Loop Related Journal Reward Points Ledgers</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_Reward_Points_Ledger_from_Related_Journal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Reward_Points_to_Debit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Debit_Reward_Points</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Reward_Points_Currency</name>
        <label>Get Reward Points Currency</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reward_Points_Ledger_from_Related_Journal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reward Points</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramCurrency</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reward_Points_Ledger_from_Related_Journal</name>
        <label>Get Reward Points Ledger from Related Journal</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Status_Points_Ledger_from_Related_Journal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TransactionJournalId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedJournalId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoyaltyProgramCurrencyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reward_Points_Currency.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoyaltyLedger</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Status_Points_Currency</name>
        <label>Get Status Points Currency</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reward_Points_Currency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Status Points</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramCurrency</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Status_Points_Ledger_from_Related_Journal</name>
        <label>Get Status Points Ledger from Related Journal</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Journal_have_Reward_Points</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TransactionJournalId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedJournalId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoyaltyProgramCurrencyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Status_Points_Currency.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyLedger</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Transaction_Journal</name>
        <label>Update Related Transaction Journal</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Loyalty_Subflow_Tier_Downgrade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedJournalId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>TransactionJournal</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TJ_for_Inactive_LPM</name>
        <label>Update TJ for Inactive LPM</label>
        <locationX>490</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ErrorDescription</field>
            <value>
                <stringValue>Inactive Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_LPM_Inactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Journal_SubType_ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancellation</stringValue>
            </value>
        </filters>
        <object>TransactionJournal</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Loyalty_Subflow_Tier_Downgrade</name>
        <label>Loyalty - Subflow Tier Downgrade</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <flowName>Loyalty_Subflow_Tier_Downgrade</flowName>
        <inputAssignments>
            <name>LPMId</name>
            <value>
                <elementReference>$Record.Member.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTicket</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>300</triggerOrder>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyLedger</objectType>
    </variables>
    <variables>
        <name>vRewardPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
