GearsetPOC/force-app/main/default/flows/Loyalty_Manual_Points_Adjustment_Voyager_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Debit_Tier_Accelerator_Points</name>
        <label>Debit Tier Accelerator Points</label>
        <locationX>732</locationX>
        <locationY>947</locationY>
        <actionName>debitPoints</actionName>
        <actionType>debitPoints</actionType>
        <connector>
            <targetReference>Copy_2_of_Status_Points_Populated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>$Record.MemberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Reward Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>$Record.Tier_Accelerator_Points__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AdditionalNotes</name>
            <value>
                <stringValue>Tier Accelerator Points</stringValue>
            </value>
        </inputParameters>
        <nameSegment>debitPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Credit_Accelerator_Points</name>
        <label>Credit Accelerator Points</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <actionName>creditPoints</actionName>
        <actionType>creditPoints</actionType>
        <connector>
            <targetReference>Status_Points_Populated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>$Record.MemberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Reward Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>$Record.Tier_Accelerator_Points__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PointsExpirationDate</name>
        </inputParameters>
        <inputParameters>
            <name>AdditionalNotes</name>
            <value>
                <stringValue>Tier Accelerator Points</stringValue>
            </value>
        </inputParameters>
        <nameSegment>creditPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Credit_Reward_Points</name>
        <label>Credit Reward Points</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>creditPoints</actionName>
        <actionType>creditPoints</actionType>
        <connector>
            <targetReference>TierAcceleratorPointsPopulated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>$Record.MemberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Reward Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>$Record.Reward_Points__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PointsExpirationDate</name>
        </inputParameters>
        <inputParameters>
            <name>AdditionalNotes</name>
            <value>
                <stringValue>Reward Base Points</stringValue>
            </value>
        </inputParameters>
        <nameSegment>creditPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Credit_Status_Points</name>
        <label>Credit Status Points</label>
        <locationX>204</locationX>
        <locationY>1547</locationY>
        <actionName>creditPoints</actionName>
        <actionType>creditPoints</actionType>
        <connector>
            <targetReference>Loyalty_Subflow_Tier_Upgrade</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>$Record.MemberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Status Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>$Record.Status_Points__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PointsExpirationDate</name>
        </inputParameters>
        <inputParameters>
            <name>AdditionalNotes</name>
            <value>
                <stringValue>Status Points</stringValue>
            </value>
        </inputParameters>
        <nameSegment>creditPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Debit_Reward_Points</name>
        <label>Debit Reward Points</label>
        <locationX>732</locationX>
        <locationY>647</locationY>
        <actionName>debitPoints</actionName>
        <actionType>debitPoints</actionType>
        <connector>
            <targetReference>Copy_2_of_Tier_Accelerator_Points_Populated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>$Record.MemberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Reward Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>$Record.Reward_Points__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AdditionalNotes</name>
            <value>
                <stringValue>Reward Base Points</stringValue>
            </value>
        </inputParameters>
        <nameSegment>debitPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Debit_Status_Points</name>
        <label>Debit Status Points</label>
        <locationX>732</locationX>
        <locationY>1247</locationY>
        <actionName>debitPoints</actionName>
        <actionType>debitPoints</actionType>
        <connector>
            <targetReference>Loyalty_Subflow_Tier_Downgrade</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>$Record.MemberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Status Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>$Record.Status_Points__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AdditionalNotes</name>
            <value>
                <stringValue>Status Points</stringValue>
            </value>
        </inputParameters>
        <nameSegment>debitPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Copy_2_of_Reward_Points_Populated</name>
        <label>Reward Points Populated?</label>
        <locationX>864</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Tier_Accelerator_Points_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reward Points Not Populated</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Reward_Points_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reward_Points__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debit_Reward_Points</targetReference>
            </connector>
            <label>Reward Points Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Status_Points_Populated</name>
        <label>Status Points Populated?</label>
        <locationX>864</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Status Points Not Populated</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Status_Points_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Points__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debit_Status_Points</targetReference>
            </connector>
            <label>Status Points Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Tier_Accelerator_Points_Populated</name>
        <label>Tier Accelerator Points Populated</label>
        <locationX>864</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Status_Points_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tier Accelerator Points Not Populated</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Tier_Accelerator_Points_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Accelerator_Points__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Debit_Tier_Accelerator_Points</targetReference>
            </connector>
            <label>Tier Accelerator Points Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_Or_Debit_TJ</name>
        <label>Credit Or Debit TJ?</label>
        <locationX>798</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Journal_SubType_ExternalId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MPACredit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Member_Opt_Out_from_Reward_Points</targetReference>
            </connector>
            <label>Credit</label>
        </rules>
        <rules>
            <name>Debit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Journal_SubType_ExternalId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MPADebit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Reward_Points_Populated</targetReference>
            </connector>
            <label>Debit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Member_Inactive</name>
        <label>Is Member Inactive?</label>
        <locationX>1161</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_TJ_For_Inactive_LPM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Or_Debit_TJ</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Member_Opt_Out_from_Reward_Points</name>
        <label>Member Opt Out from Reward Points?</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Status_Points_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opted Out</defaultConnectorLabel>
        <rules>
            <name>Not_Opted_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opt_Out_From_Reward_Points__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reward_Points_Populated</targetReference>
            </connector>
            <label>Not Opted Out</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reward_Points_Populated</name>
        <label>Reward Points Populated?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>TierAcceleratorPointsPopulated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reward Points Not Populated</defaultConnectorLabel>
        <rules>
            <name>Reward_Points_Populatedd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reward_Points__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Reward_Points</targetReference>
            </connector>
            <label>Reward Points Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Points_Populated</name>
        <label>Status Points Populated?</label>
        <locationX>336</locationX>
        <locationY>1331</locationY>
        <defaultConnectorLabel>Status Points Not Populated</defaultConnectorLabel>
        <rules>
            <name>Status_Points_Populatedd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Points__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loyalty_Member_Tier</targetReference>
            </connector>
            <label>Status Points Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>TierAcceleratorPointsPopulated</name>
        <label>Tier Accelerator Points Populated</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Status_Points_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tier Accelerator Points Not Populated</defaultConnectorLabel>
        <rules>
            <name>Tier_Accelerator_Points_Populatedd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Accelerator_Points__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Accelerator_Points</targetReference>
            </connector>
            <label>Tier Accelerator Points Populated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Loyalty - Manual Points Adjustment Voyager Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty - Manual Points Adjustment Voyager Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Loyalty_Member_Tier</name>
        <label>Get Loyalty Member Tier</label>
        <locationX>204</locationX>
        <locationY>1439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Credit_Status_Points</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoyaltyMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyMemberTier</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_TJ_For_Inactive_LPM</name>
        <label>Update TJ For Inactive LPM</label>
        <locationX>1524</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ErrorDescription</field>
            <value>
                <stringValue>Member Not Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1035</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Member_Inactive</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Journal_SubType_ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MPACredit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Journal_SubType_ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MPADebit</stringValue>
            </value>
        </filters>
        <object>TransactionJournal</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Loyalty_Subflow_Tier_Downgrade</name>
        <label>Loyalty - Subflow Tier Downgrade</label>
        <locationX>732</locationX>
        <locationY>1355</locationY>
        <flowName>Loyalty_Subflow_Tier_Downgrade</flowName>
        <inputAssignments>
            <name>LPMId</name>
            <value>
                <elementReference>$Record.MemberId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vManualActions</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Loyalty_Subflow_Tier_Upgrade</name>
        <label>Loyalty - Subflow Tier Upgrade</label>
        <locationX>204</locationX>
        <locationY>1655</locationY>
        <flowName>Loyalty_Subflow_Tier_Upgrade</flowName>
        <inputAssignments>
            <name>vLPMId</name>
            <value>
                <elementReference>$Record.MemberId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vManualActions</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vOldMemberTierNumber</name>
            <value>
                <elementReference>Get_Loyalty_Member_Tier.LoyaltyTier.SequenceNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vOldTierName</name>
            <value>
                <elementReference>Get_Loyalty_Member_Tier.LoyaltyTier.Name</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
