GearsetPOC/force-app/main/default/flows/Loyalty_Exchanged_Ticket.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Debit_Points</name>
        <label>Debit Points</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>debitPoints</actionName>
        <actionType>debitPoints</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AdditionalNotes</name>
            <value>
                <stringValue>Exchanged Ticket process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>$Record.Member.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>$Record.Points__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Reward Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <nameSegment>debitPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_LMP_Inactive</name>
        <label>Is LMP Inactive ?</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debit_Points</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TJ_for_Inactive_LPM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Loyalty - Exchanged Ticket {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty - Exchanged Ticket</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_TJ_for_Inactive_LPM</name>
        <label>Update TJ for Inactive LPM</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>ErrorDescription</field>
            <value>
                <stringValue>Inactive Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_LMP_Inactive</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Journal_SubType_ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ExchangedTicket</stringValue>
            </value>
        </filters>
        <filters>
            <field>Journal_SubType_ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ticket</stringValue>
            </value>
        </filters>
        <object>TransactionJournal</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
