GearsetPOC/force-app/main/default/flows/Loyalty_Tier_Downgrade_Upgrade_for_Manual_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Accrual_or_Redemption</name>
        <label>Accrual or Redemption ?</label>
        <locationX>314</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accrual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Status_Points_Ledger.EventType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loyalty_Subflow_Tier_Upgrade</targetReference>
            </connector>
            <label>Accrual</label>
        </rules>
        <rules>
            <name>Redemption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Status_Points_Ledger.EventType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Debit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loyalty_Subflow_Tier_Downgrade</targetReference>
            </connector>
            <label>Redemption</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_TJ_Journal_Type_and_Currency</name>
        <label>Check TJ Journal Type and Currency</label>
        <locationX>710</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manual_Points_Adjustment_and_Currency_Status_Points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Journal_Type_ExternalId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ManualPointsAdjustment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Status_Points_Ledger</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accrual_or_Redemption</targetReference>
            </connector>
            <label>Manual Points Adjustment and Currency Status Points</label>
        </rules>
        <rules>
            <name>Qualifying_Points_Reset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Journal_Type_ExternalId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QualifyingPointsReset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Loyalty_Subflow_Tier_Downgrade</targetReference>
            </connector>
            <label>Qualifying Points Reset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_LPM_Inactive</name>
        <label>Is LPM Inactive ?</label>
        <locationX>1040</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Update_TJ_for_Inactive_LPM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Member_Tier</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Loyalty - Tier Downgrade/Upgrade for Manual Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty - Tier Downgrade/Upgrade for Manual Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Member_Tier</name>
        <label>Get Member Tier</label>
        <locationX>710</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Status_Points_Currency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoyaltyMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyMemberTier</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Status_Points_Currency</name>
        <label>Get Status Points Currency</label>
        <locationX>710</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Status_Points_Ledger</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Status Points</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramCurrency</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Status_Points_Ledger</name>
        <label>Get Status Points Ledger</label>
        <locationX>710</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_TJ_Journal_Type_and_Currency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TransactionJournalId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoyaltyProgramCurrencyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Status_Points_Currency.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyLedger</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_TJ_for_Inactive_LPM</name>
        <label>Update TJ for Inactive LPM</label>
        <locationX>1370</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>ErrorDescription</field>
            <value>
                <stringValue>Inactive Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>287</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Journal_Type_ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ManualPointsAdjustment</stringValue>
            </value>
        </filters>
        <object>TransactionJournal</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Trigger_after_1min</name>
            <connector>
                <targetReference>Is_LPM_Inactive</targetReference>
            </connector>
            <label>Trigger after 1min</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Loyalty_Subflow_Tier_Downgrade</name>
        <label>Loyalty - Subflow Tier Downgrade</label>
        <locationX>314</locationX>
        <locationY>924</locationY>
        <flowName>Loyalty_Subflow_Tier_Downgrade</flowName>
        <inputAssignments>
            <name>LPMId</name>
            <value>
                <elementReference>$Record.Member.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vManualActions</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Loyalty_Subflow_Tier_Upgrade</name>
        <label>Loyalty - Subflow Tier Upgrade</label>
        <locationX>50</locationX>
        <locationY>924</locationY>
        <flowName>Loyalty_Subflow_Tier_Upgrade</flowName>
        <inputAssignments>
            <name>vLPMId</name>
            <value>
                <elementReference>$Record.Member.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vManualActions</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vOldMemberTierNumber</name>
            <value>
                <elementReference>Get_Member_Tier.LoyaltyTier.SequenceNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vOldTierName</name>
            <value>
                <elementReference>Get_Member_Tier.Name</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>1600</triggerOrder>
</Flow>
