GearsetPOC/force-app/main/default/flows/Loyalty_Bonus_Points_Newsletter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Credit_NQP</name>
        <label>Credit NQP</label>
        <locationX>506</locationX>
        <locationY>1079</locationY>
        <actionName>creditPoints</actionName>
        <actionType>creditPoints</actionType>
        <connector>
            <targetReference>Update_LPM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>Get_LPM.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Reward Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramCurrencySubtypeName</name>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>Get_Journal_Subtype.Points_to_Credit__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CorrelationId</name>
        </inputParameters>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>Create_Transaction_Journal</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PointsExpirationDate</name>
        </inputParameters>
        <inputParameters>
            <name>AdditionalNotes</name>
            <value>
                <stringValue>Bonus Points - Newsletter</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PromotionId</name>
        </inputParameters>
        <nameSegment>creditPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Customer_Already_Rewarded</name>
        <label>Customer Already Rewarded?</label>
        <locationX>374</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Create_Transaction_Journal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transaction_Journals.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opted_out_of_reward_points</name>
        <label>Opted out of reward points?</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Journal_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Did not opt out</defaultConnectorLabel>
        <rules>
            <name>Opted_out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LPM.Opt_Out_From_Reward_Points__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Opted out</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Loyalty - Bonus Points Newsletter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty - Bonus Points Newsletter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Transaction_Journal</name>
        <label>Create Transaction Journal</label>
        <locationX>506</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Credit_NQP</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalSubTypeId</field>
            <value>
                <elementReference>Get_Journal_Subtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalTypeId</field>
            <value>
                <elementReference>Get_Journal_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyProgramId</field>
            <value>
                <elementReference>Get_LPM.Program.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>Get_LPM.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Points__c</field>
            <value>
                <elementReference>Get_Journal_Subtype.Points_to_Credit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reward_Points__c</field>
            <value>
                <elementReference>Get_Journal_Subtype.Points_to_Credit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>TransactionJournal</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Journal_Subtype</name>
        <label>Get Journal Subtype</label>
        <locationX>374</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transaction_Journals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JournalTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Journal_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BPNewsletter</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalSubType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Journal_Type</name>
        <label>Get Journal Type</label>
        <locationX>374</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Journal_Subtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accrual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LPM</name>
        <label>Get LPM</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opted_out_of_reward_points</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Journals</name>
        <label>Get Transaction Journals</label>
        <locationX>374</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Customer_Already_Rewarded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LPM.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>JournalSubTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Journal_Subtype.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TransactionJournal</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_LPM</name>
        <label>Update LPM</label>
        <locationX>506</locationX>
        <locationY>1187</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LPM.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyProgramMember</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_LPM</targetReference>
        </connector>
        <filterFormula>OR(
AND(
       ISCHANGED({!$Record.Trains_opt_in__c}),
        {!$Record.Trains_opt_in__c} = TRUE,
        {!$Record.Loyalty_Opt_In__c} = TRUE,
       NOT(ISNULL({!$Record.DELTA_Loyalty_Member__c}))
       ),
AND(
       ISCHANGED({!$Record.Loyalty_Opt_In__c}),
        {!$Record.Trains_opt_in__c} = TRUE,
        {!$Record.Loyalty_Opt_In__c} = TRUE,
       NOT(ISNULL({!$Record.DELTA_Loyalty_Member__c}))
       ))</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TransactionJournal</objectType>
    </variables>
</Flow>
