GearsetPOC/force-app/main/default/flows/Loyalty_Sharing_Points.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Credit_Points</name>
        <label>Credit Points</label>
        <locationX>288</locationX>
        <locationY>1535</locationY>
        <actionName>creditPoints</actionName>
        <actionType>creditPoints</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AdditionalNotes</name>
            <value>
                <stringValue>Credit Points from Donation Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>Create_Accrual_TJ</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>$Record.Share_With__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>$Record.Sharing_Points__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PointsExpirationDate</name>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Reward Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <nameSegment>creditPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Debit_Reward_Points</name>
        <label>Debit Reward Points</label>
        <locationX>424</locationX>
        <locationY>516</locationY>
        <actionName>debitPoints</actionName>
        <actionType>debitPoints</actionType>
        <connector>
            <targetReference>Assign_Initial_values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AdditionalNotes</name>
            <value>
                <stringValue>Sharing Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>$Record.Member.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>$Record.Sharing_Points__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Reward Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <nameSegment>debitPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Count_Unique_Members_Sum_Shared_Points</name>
        <label>Add Count Unique Members + Sum Shared Points</label>
        <locationX>420</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>vLPM.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLPM.Shared_With_Members_Ids__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fNewShareWithId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLPM.Number_of_Points_Shared__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPointsShared</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vShareWithLPM.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Share_With__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vShareWithLPM.Number_of_Sharing_Points_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNumberOfPointsReceived</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_LPM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_values</name>
        <label>Assign Initial values</label>
        <locationX>420</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>vLPM.Shared_With_Members_Ids__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member.Shared_With_Members_Ids__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Count_Unique_Members_Sum_Shared_Points</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_LPMs_Inactive</name>
        <label>Are LPMs Inactive ?</label>
        <locationX>882</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Update_TJ_for_Inactive_LPMs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Share_With__r.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Share_With__r.Opt_Out_From_Reward_Points__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debit_Reward_Points</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes_LPM_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Share_With__r.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TJ_for_Inactive_LPM</targetReference>
            </connector>
            <label>Yes LPM Inactive</label>
        </rules>
        <rules>
            <name>Yes_Share_With_LPM_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Share_With__r.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TJ_for_Inactive_Share_With_LPM</targetReference>
            </connector>
            <label>Yes Share With LPM Inactive</label>
        </rules>
        <rules>
            <name>Share_With_LPM_Opt_Out_from_Reward_Points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Share_With__r.Opt_Out_From_Reward_Points__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Share_With__r.MemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TJ_for_OptOut_Share_With_LPM</targetReference>
            </connector>
            <label>Share With LPM Opt Out from Reward Points</label>
        </rules>
    </decisions>
    <description>change 2024</description>
    <environments>Default</environments>
    <formulas>
        <name>fNewShareWithId</name>
        <dataType>String</dataType>
        <expression>&quot;;&quot;+{!$Record.Share_With__r.Id}</expression>
    </formulas>
    <formulas>
        <name>fNumberOfPointsReceived</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.Share_With__r.Number_of_Sharing_Points_Received__c}), 0, {!$Record.Share_With__r.Number_of_Sharing_Points_Received__c}) + {!$Record.Sharing_Points__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fPointsShared</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.Member.Number_of_Points_Shared__c}), 0, {!$Record.Member.Number_of_Points_Shared__c}) + {!$Record.Sharing_Points__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Loyalty - Sharing Points {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty - Sharing Points</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Accrual TJ in Share With LPM</description>
        <name>Create_Accrual_TJ</name>
        <label>Create Accrual TJ</label>
        <locationX>288</locationX>
        <locationY>1427</locationY>
        <connector>
            <targetReference>Credit_Points</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalSubTypeId</field>
            <value>
                <elementReference>Get_JSubtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalTypeId</field>
            <value>
                <elementReference>Get_JT_Accrual.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyProgramId</field>
            <value>
                <elementReference>$Record.LoyaltyProgram.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>$Record.Share_With__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedJournalId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Share_With__c</field>
            <value>
                <elementReference>$Record.MemberId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sharing_Points__c</field>
            <value>
                <elementReference>$Record.Sharing_Points__c</elementReference>
            </value>
        </inputAssignments>
        <object>TransactionJournal</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_JSubtype</name>
        <label>Get JSubtype</label>
        <locationX>288</locationX>
        <locationY>1319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Accrual_TJ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JournalTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_JT_Accrual.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalSubType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_JT_Accrual</name>
        <label>Get JT Accrual</label>
        <locationX>288</locationX>
        <locationY>1211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_JSubtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accrual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_LPM</name>
        <label>Update LPM</label>
        <locationX>288</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>Update_Share_With_LPM</targetReference>
        </connector>
        <inputReference>vLPM</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Share_With_LPM</name>
        <label>Update Share With LPM</label>
        <locationX>288</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>Get_JT_Accrual</targetReference>
        </connector>
        <inputReference>vShareWithLPM</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TJ_for_Inactive_LPM</name>
        <label>Update TJ for Inactive LPM</label>
        <locationX>684</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>ErrorDescription</field>
            <value>
                <stringValue>Inactive Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TJ_for_Inactive_LPMs</name>
        <label>Update TJ for Inactive LPMs</label>
        <locationX>1476</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>ErrorDescription</field>
            <value>
                <stringValue>Both Loyalty Member are Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TJ_for_Inactive_Share_With_LPM</name>
        <label>Update TJ for Inactive Share With LPM</label>
        <locationX>948</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>ErrorDescription</field>
            <value>
                <stringValue>Share With Member Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Share With LPM have Opt Out from Reward Points TRUE</description>
        <name>Update_TJ_for_OptOut_Share_With_LPM</name>
        <label>Update TJ for OptOut Share With LPM</label>
        <locationX>1212</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>ErrorDescription</field>
            <value>
                <stringValue>Share With Member has Opt Out from Reward Points</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Are_LPMs_Inactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Journal_SubType_ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SharingPoints</stringValue>
            </value>
        </filters>
        <object>TransactionJournal</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vLPM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyProgramMember</objectType>
    </variables>
    <variables>
        <name>vShareWithLPM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyProgramMember</objectType>
    </variables>
</Flow>
