GearsetPOC/force-app/main/default/flows/Loyalty_Tier_Downgrade_Orchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_DPE_for_Tier_Downgrade</name>
        <label>Run DPE for Tier Downgrade</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <actionName>Eurostar_Tier_Downgrade</actionName>
        <actionType>dataProcessingEngineAction</actionType>
        <connector>
            <targetReference>Pause_until_DPE_ran</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CurrentDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TierGroupId</name>
            <value>
                <elementReference>vTierGroupId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Eurostar_Tier_Downgrade</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_Tier_Downgrade_Batch</name>
        <label>Run Tier Downgrade Batch</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <actionName>Eurostar_Tier_Downgrade_Batch</actionName>
        <actionType>batchJobAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Eurostar_Tier_Downgrade_Batch</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Tier_Group_Id</name>
        <label>Add Tier Group Id</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>vTierGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Tier_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_DPE_for_Tier_Downgrade</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Loyalty - Tier Downgrade Orchestration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty - Tier Downgrade Orchestration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Tier_Group</name>
        <label>Get Tier Group</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Tier_Group_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Club Eurostar Tier Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyTierGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Tier_Group</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-02-20</startDate>
            <startTime>15:36:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>DPERunStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BatchJobStatusChangedEvent</objectType>
    </variables>
    <variables>
        <name>vTierGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Pause_until_DPE_ran</name>
        <label>Pause until DPE ran</label>
        <locationX>182</locationX>
        <locationY>636</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>DPE_Run_Complete</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Run_Tier_Downgrade_Batch</targetReference>
            </connector>
            <eventType>BatchJobStatusChangedEvent</eventType>
            <inputParameters>
                <name>BatchJob</name>
                <value>
                    <elementReference>Run_DPE_for_Tier_Downgrade.batchJobId</elementReference>
                </value>
            </inputParameters>
            <label>DPE Run Complete</label>
            <outputParameters>
                <assignToReference>DPERunStatus</assignToReference>
                <name>BatchJobStatusChangedEvent</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
