GearsetPOC/force-app/main/default/flows/Loyalty_Tier_Downgrade_Processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Change_to_Avantage</name>
        <label>Change to Avantage</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <actionName>changeTier</actionName>
        <actionType>changeTier</actionType>
        <connector>
            <targetReference>Update_tier_Assessment_Member</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ChangeReason</name>
            <value>
                <stringValue>Downgrade</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>Get_Tier_Assessment_Member.Loyalty_Program_Member__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetTierName</name>
            <value>
                <stringValue>Avantage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TierGroupName</name>
            <value>
                <stringValue>Club Eurostar Tier Group</stringValue>
            </value>
        </inputParameters>
        <nameSegment>changeTier</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Change_to_Carte_Blanche</name>
        <label>Change to Carte Blanche</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <actionName>changeTier</actionName>
        <actionType>changeTier</actionType>
        <connector>
            <targetReference>Update_tier_Assessment_Member</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ChangeReason</name>
            <value>
                <stringValue>Downgrade</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>Get_Tier_Assessment_Member.Loyalty_Program_Member__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetTierName</name>
            <value>
                <stringValue>Carte blanche</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TierGroupName</name>
            <value>
                <stringValue>Club Eurostar Tier Group</stringValue>
            </value>
        </inputParameters>
        <nameSegment>changeTier</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Change_to_Classique</name>
        <label>Change to Classique</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>changeTier</actionName>
        <actionType>changeTier</actionType>
        <connector>
            <targetReference>Update_tier_Assessment_Member</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ChangeReason</name>
            <value>
                <stringValue>Downgrade</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>Get_Tier_Assessment_Member.Loyalty_Program_Member__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetTierName</name>
            <value>
                <stringValue>Classique</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TierGroupName</name>
            <value>
                <stringValue>Club Eurostar Tier Group</stringValue>
            </value>
        </inputParameters>
        <nameSegment>changeTier</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Change_to_Etoile</name>
        <label>Change to Etoile</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <actionName>changeTier</actionName>
        <actionType>changeTier</actionType>
        <connector>
            <targetReference>Update_tier_Assessment_Member</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ChangeReason</name>
            <value>
                <stringValue>Downgrade</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>Get_Tier_Assessment_Member.Loyalty_Program_Member__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetTierName</name>
            <value>
                <stringValue>Etoile</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TierGroupName</name>
            <value>
                <stringValue>Club Eurostar Tier Group</stringValue>
            </value>
        </inputParameters>
        <nameSegment>changeTier</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Change_to_Etoile_from_Elite</name>
        <label>Change to Etoile from Elite</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <actionName>changeTier</actionName>
        <actionType>changeTier</actionType>
        <connector>
            <targetReference>Update_tier_Assessment_Member</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ChangeReason</name>
            <value>
                <stringValue>Downgrade</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>Get_Tier_Assessment_Member.Loyalty_Program_Member__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Club Eurostar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetTierName</name>
            <value>
                <stringValue>Etoile</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TierGroupName</name>
            <value>
                <stringValue>Club Eurostar Tier Group</stringValue>
            </value>
        </inputParameters>
        <nameSegment>changeTier</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Evaluate_Target_Member_Tier</name>
        <label>Evaluate Target Member Tier</label>
        <locationX>1128</locationX>
        <locationY>458</locationY>
        <actionName>Eurostar_Evaluate_Target_Member_Tier_Default</actionName>
        <actionType>decisionTableAction</actionType>
        <connector>
            <targetReference>Tier_Assessment_Match</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Maximum_Points__c</name>
            <value>
                <elementReference>Get_Tier_Assessment_Member.QP_Points__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Minimum_Points__c</name>
            <value>
                <elementReference>Get_Tier_Assessment_Member.QP_Points__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Eurostar_Evaluate_Target_Member_Tier_Default</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Tier</name>
        <label>Check Tier</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Update_tier_Assessment_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Classique</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluate_Target_Member_Tier.singleOutcome.Loyalty_Tier__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Classique</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_to_Classique</targetReference>
            </connector>
            <label>Classique</label>
        </rules>
        <rules>
            <name>Avantage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluate_Target_Member_Tier.singleOutcome.Loyalty_Tier__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Avantage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_to_Avantage</targetReference>
            </connector>
            <label>Avantage</label>
        </rules>
        <rules>
            <name>Carte_blanche</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluate_Target_Member_Tier.singleOutcome.Loyalty_Tier__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carte blanche</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_to_Carte_Blanche</targetReference>
            </connector>
            <label>Carte blanche</label>
        </rules>
        <rules>
            <name>Etoile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluate_Target_Member_Tier.singleOutcome.Loyalty_Tier__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Etoile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_to_Etoile</targetReference>
            </connector>
            <label>Etoile</label>
        </rules>
        <rules>
            <name>Elite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluate_Target_Member_Tier.singleOutcome.Loyalty_Tier__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Tier_Assessment_Member.Loyalty_Member_Tier__r.Tier_Immunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_to_Etoile_from_Elite</targetReference>
            </connector>
            <label>Elite</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Tier_Immunity_Set</name>
        <label>Is Tier Immunity Set?</label>
        <locationX>1469</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member_Tier.Tier_Immunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Member_Tier.Subscription_Immunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Target_Member_Tier</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_Assessment_Match</name>
        <label>Tier Assessment Match</label>
        <locationX>1128</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Any_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluate_Target_Member_Tier.outcomeType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No Match</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Tier</targetReference>
            </connector>
            <label>Any Match</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Loyalty - Tier {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty - Tier Downgrade Processing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Member_Tier</name>
        <label>Get Member Tier</label>
        <locationX>1469</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Tier_Immunity_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoyaltyMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Tier_Assessment_Member.Loyalty_Program_Member__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyMemberTier</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tier_Assessment_Member</name>
        <label>Get Tier Assessment Member</label>
        <locationX>1469</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Member_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TierAssessmentMemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tier_Assessment_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_tier_Assessment_Member</name>
        <label>Update tier Assessment Member</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TierAssessmentMemberId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <object>Tier_Assessment_Member__c</object>
    </recordUpdates>
    <start>
        <locationX>1343</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Tier_Assessment_Member</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>TierAssessmentMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
