GearsetPOC/force-app/main/default/flows/QA_Assessment_Link_update_Email_Record_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Populate_QA_Share_Variables</name>
        <label>Populate QA Share Variables</label>
        <locationX>876</locationX>
        <locationY>145</locationY>
        <assignmentItems>
            <assignToReference>Var_QAShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QAShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QAShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Related_Advisor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QAShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Share_with_Related_Advisor__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Share_QA_with_Related_Advisor</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Appropriatelanguageandcommunicationvar</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://eurostar.account.box.com/login?redirect_url=%2Ffile%2F1077314170586</stringValue>
        </value>
    </constants>
    <constants>
        <name>CorrectresolutionVar</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://eurostar.account.box.com/login?redirect_url=%2Ffile%2F1077326112702</stringValue>
        </value>
    </constants>
    <constants>
        <name>EscalateVar</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://eurostar.account.box.com/login?redirect_url=%2Ffile%2F1079196725693</stringValue>
        </value>
    </constants>
    <constants>
        <name>Feedbackstowiderteamvar</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://eurostar.account.box.com/login?redirect_url=%2Ffile%2F1079196725693</stringValue>
        </value>
    </constants>
    <constants>
        <name>MetanyrequiredcomplianceVar</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://eurostar--simpplr.um1.visual.force.com/apex/KnowledgeArticleDetail?articleId=kA43z000000g80jCAA</stringValue>
        </value>
    </constants>
    <constants>
        <name>OffercorrectpersonaltouchVar</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://eurostar.account.box.com/login?redirect_url=%2Ffile%2F1077326112702</stringValue>
        </value>
    </constants>
    <constants>
        <name>Processandtimeframevar</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://eurostar.account.box.com/login?redirect_url=%2Ffile%2F1077314170586</stringValue>
        </value>
    </constants>
    <constants>
        <name>Provideselfserveopportunity</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://eurostar.account.box.com/login?redirect_url=%2Ffile%2F1077314170586</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckRecordTypes</name>
        <label>CheckRecordTypes</label>
        <locationX>672</locationX>
        <locationY>666</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetRecordType.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_type_Email_field_update</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>QA Assessment - Link update (Email Record Type) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QA Assessment - Link update (Email Record Type)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share_QA_with_Related_Advisor</name>
        <label>Share QA with Related Advisor</label>
        <locationX>1092</locationX>
        <locationY>146</locationY>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
        <inputReference>Var_QAShare</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>1094</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckRecordTypes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QA_Assessment__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Record_type_Email_field_update</name>
        <label>Record type Email field update</label>
        <locationX>250</locationX>
        <locationY>658</locationY>
        <inputAssignments>
            <field>Compliance_was_met_link__c</field>
            <value>
                <elementReference>MetanyrequiredcomplianceVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalate_urgent_issue_reference_link__c</field>
            <value>
                <elementReference>EscalateVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Explains_next_steps_and_timeframe_link__c</field>
            <value>
                <elementReference>Processandtimeframevar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feeds_back_and_escalate_as_needed_link__c</field>
            <value>
                <elementReference>Feedbackstowiderteamvar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offers_personal_touch_reference_link__c</field>
            <value>
                <elementReference>OffercorrectpersonaltouchVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Use_Appropriate_Language_link__c</field>
            <value>
                <elementReference>Appropriatelanguageandcommunicationvar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>self_Offers_serve_opportunity_link__c</field>
            <value>
                <elementReference>Provideselfserveopportunity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Advisor</name>
        <label>Update Related Advisor</label>
        <locationX>664</locationX>
        <locationY>146</locationY>
        <connector>
            <targetReference>Populate_QA_Share_Variables</targetReference>
        </connector>
        <inputAssignments>
            <field>Related_Advisor__c</field>
            <value>
                <elementReference>$Record.Case__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>147</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>Update_Related_Advisor</targetReference>
        </connector>
        <object>QA_Assessment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Var1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>QA_Assessment__c</objectType>
    </variables>
    <variables>
        <name>Var_QAShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QA_Assessment__Share</objectType>
    </variables>
</Flow>
