GearsetPOC/force-app/main/default/flows/Safety_accident_assign_new_IM_French.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Safety_change_accident_investigating_manager_French</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Safety change accident IM_French</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Accident__c.Safety_change_accident_investigating_manager_French</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Accident__c.Safety_change_accident_investigating_manager_French</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Safety_change_of_investigating_manager_French</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Safety notify change of IM_French</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>Accident__c.Safety_change_of_investigating_manager_French</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Accident__c.Safety_change_of_investigating_manager_French</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>change of IM</label>
        </rules>
    </decisions>
    <description>when the investigating manager changes, email(in French) them the case details</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISNEW()) &amp;&amp; [Accident__c].RecordType.Name = &quot;Accident&quot; &amp;&amp; 
ISCHANGED([Accident__c].Accident_Investigating_Manager__c.Id)&amp;&amp;
ISPICKVAL([Accident__c].Case_Language__c , &quot;French&quot;)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW()) &amp;&amp; {!myVariable_current.RecordType.Name} = &quot;Accident&quot; &amp;&amp; 
ISCHANGED({!myVariable_current.Accident_Investigating_Manager__r.Id})&amp;&amp;
ISPICKVAL({!myVariable_current.Case_Language__c} , &quot;French&quot;)</expression>
    </formulas>
    <interviewLabel>Safety_accident_assign_new_IM_French-1_InterviewLabel</interviewLabel>
    <label>Safety accident assign new IM_French</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Accident__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Accident__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Accident__c</objectType>
    </variables>
</Flow>
