GearsetPOC/force-app/main/default/flows/Send_CSAT_Email_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CSAT_Email_Alert_Default</name>
        <label>CSAT Email Alert Default</label>
        <locationX>1320</locationX>
        <locationY>350</locationY>
        <actionName>Case.CSAT_Email_Alert_English</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CaseRecordsLoop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecordsLoop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CSAT_Email_Alert_English</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CSAT_Email_Alert_Dutch</name>
        <label>CSAT Email Alert Dutch</label>
        <locationX>1056</locationX>
        <locationY>350</locationY>
        <actionName>Case.CSAT_Email_Alert_Dutch</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CaseRecordsLoop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecordsLoop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CSAT_Email_Alert_Dutch</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CSAT_Email_Alert_English</name>
        <label>CSAT Email Alert English</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <actionName>Case.CSAT_Email_Alert_English</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CaseRecordsLoop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecordsLoop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CSAT_Email_Alert_English</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CSAT_Email_Alert_French</name>
        <label>CSAT Email Alert French</label>
        <locationX>528</locationX>
        <locationY>350</locationY>
        <actionName>Case.CSAT_Email_Alert_French</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CaseRecordsLoop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecordsLoop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CSAT_Email_Alert_French</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CSAT_Email_Alert_German</name>
        <label>CSAT Email Alert German</label>
        <locationX>792</locationX>
        <locationY>350</locationY>
        <actionName>Case.CSAT_Email_Alert_German</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CaseRecordsLoop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecordsLoop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CSAT_Email_Alert_German</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Which_language_use</name>
        <label>Which language use</label>
        <locationX>792</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>CSAT_Email_Alert_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecordsLoop.Preferred_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSAT_Email_Alert_English</targetReference>
            </connector>
            <label>English</label>
        </rules>
        <rules>
            <name>French</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecordsLoop.Preferred_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSAT_Email_Alert_French</targetReference>
            </connector>
            <label>French</label>
        </rules>
        <rules>
            <name>German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecordsLoop.Preferred_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>German</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSAT_Email_Alert_German</targetReference>
            </connector>
            <label>German</label>
        </rules>
        <rules>
            <name>Dutch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecordsLoop.Preferred_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dutch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSAT_Email_Alert_Dutch</targetReference>
            </connector>
            <label>Dutch</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send CSAT Email Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send CSAT Email Flow</label>
    <loops>
        <name>CaseRecordsLoop</name>
        <label>CaseRecordsLoop</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>caseRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Which_language_use</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CaseRecordsLoop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
