GearsetPOC/force-app/main/default/flows/Social_Post_Threading_Inbound_and_Outbound_Posts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Thread Conversation</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(NOT([SocialPost].Handle= &quot;Eurostar&quot;) 
|| 
NOT([SocialPost].Handle= &quot;EurostarUK&quot;) 
|| 
NOT([SocialPost].Handle = &quot;eurostarfr&quot;)) 
&amp;&amp; 
(NOT( 
CONTAINS([SocialPost].Name , &quot;from: Eurostar&quot;) 
|| 
CONTAINS([SocialPost].Name, &quot;From: Eurostar&quot;) 
|| 
CONTAINS([SocialPost].Name, &quot;from EurostarUK&quot;) 
|| 
CONTAINS([SocialPost].Name, &quot;from Eurostar&quot;) 
|| 
CONTAINS ([SocialPost].Name, &quot;FROM: Eurostar&quot;) 
|| 
CONTAINS ([SocialPost].Name, &quot;from eurostarfr&quot;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>(NOT({!myVariable_current.Handle}= &quot;Eurostar&quot;) 
|| 
NOT({!myVariable_current.Handle}= &quot;EurostarUK&quot;) 
|| 
NOT({!myVariable_current.Handle} = &quot;eurostarfr&quot;)) 
&amp;&amp; 
(NOT( 
CONTAINS({!myVariable_current.Name} , &quot;from: Eurostar&quot;) 
|| 
CONTAINS({!myVariable_current.Name}, &quot;From: Eurostar&quot;) 
|| 
CONTAINS({!myVariable_current.Name}, &quot;from EurostarUK&quot;) 
|| 
CONTAINS({!myVariable_current.Name}, &quot;from Eurostar&quot;) 
|| 
CONTAINS ({!myVariable_current.Name}, &quot;FROM: Eurostar&quot;) 
|| 
CONTAINS ({!myVariable_current.Name}, &quot;from eurostarfr&quot;)))</expression>
    </formulas>
    <interviewLabel>Social_Post_Threading_Inbound_and_Outbound_Posts-6_InterviewLabel</interviewLabel>
    <label>Social Post - Threading Inbound and Outbound Posts</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>SocialPost</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SocialPost].Replies</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Thread</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>ReplyToId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Parent ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ParentId</field>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </inputAssignments>
        <object>SocialPost</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SocialPost</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SocialPost</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
