GearsetPOC/force-app/main/default/flows/Support_Request_Delete_PostMaster_request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>PostMaster_or_Business_Improvement</name>
        <label>PostMaster or Business Improvement</label>
        <locationX>314</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business_Improvement</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Related_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce Change Request	</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Business_Improvement_Queue</targetReference>
            </connector>
            <label>Business Improvement</label>
        </rules>
        <rules>
            <name>Post_Master</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requester_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>postmaster@eurostar.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requester_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>no-reply@eurostar.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Support_Request</targetReference>
            </connector>
            <label>Post Master</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Support Request : Delete PostMaster request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support Request : Delete PostMaster request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Support_Request</name>
        <label>Delete Support Request</label>
        <locationX>314</locationX>
        <locationY>479</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Salesforce_Support_Request__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Business_Improvement_Queue</name>
        <label>Get Business Improvement Queue</label>
        <locationX>50</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record_to_Business_Improvement_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business_Improvement_Process</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record_to_Business_Improvement_Queue</name>
        <label>Update Record to Business Improvement Queue</label>
        <locationX>50</locationX>
        <locationY>587</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Business_Improvement_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PostMaster_or_Business_Improvement</targetReference>
        </connector>
        <object>Salesforce_Support_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled</name>
            <connector>
                <targetReference>PostMaster_or_Business_Improvement</targetReference>
            </connector>
            <label>Scheduled</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
