GearsetPOC/force-app/main/default/flows/Update_compensation_amt_on_case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>selectionType</name>
            <value>
                <stringValue>firstFound</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>submitterType</name>
            <value>
                <stringValue>currentUser</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Submit for approval</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Check is case linked</label>
        </rules>
    </decisions>
    <description>Editing the check, so that the flow doesn&#39;t trigger for Kyriba/EIF updates.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT($Setup.Escape_Validation_Rules_GDPR__c.Escape_Validation_Rule_Checkbox__c),(

AND(
[Compensation__c].RecordTypeName__c &lt;&gt; &#39;Online&#39;,
[Compensation__c].RecordTypeName__c &lt;&gt; &#39;Voucher&#39;,
[Compensation__c].LastModifiedById  &lt;&gt; &#39;005b0000002oYXgAAM&#39;,
[Compensation__c].LastModifiedById  &lt;&gt; &#39;0050N0000084LpVQAU&#39;,
TEXT([Compensation__c].Comp_Approval_Status__c) &lt;&gt; &#39;Awaiting Approval&#39;,
TEXT([Compensation__c].Comp_Approval_Status__c) &lt;&gt; &#39;Rejected&#39;,
NOT(ISCHANGED([Compensation__c].Comp_Approval_Status__c)),
NOT(ISCHANGED([Compensation__c].Sent_For_Payment__c)),
NOT(ISCHANGED([Compensation__c].Execution_Date__c)),
NOT(ISCHANGED([Compensation__c].Batch_ID__c)),
NOT(ISCHANGED([Compensation__c].Voucher_Redeemed__c))
)

))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT({!$Setup.Escape_Validation_Rules_GDPR__c.Escape_Validation_Rule_Checkbox__c}),(

AND(
{!myVariable_current.RecordTypeName__c} &lt;&gt; &#39;Online&#39;,
{!myVariable_current.RecordTypeName__c} &lt;&gt; &#39;Voucher&#39;,
{!myVariable_current.LastModifiedById}  &lt;&gt; &#39;005b0000002oYXgAAM&#39;,
{!myVariable_current.LastModifiedById}  &lt;&gt; &#39;0050N0000084LpVQAU&#39;,
TEXT({!myVariable_current.Comp_Approval_Status__c}) &lt;&gt; &#39;Awaiting Approval&#39;,
TEXT({!myVariable_current.Comp_Approval_Status__c}) &lt;&gt; &#39;Rejected&#39;,
NOT(ISCHANGED({!myVariable_current.Comp_Approval_Status__c})),
NOT(ISCHANGED({!myVariable_current.Sent_For_Payment__c})),
NOT(ISCHANGED({!myVariable_current.Execution_Date__c})),
NOT(ISCHANGED({!myVariable_current.Batch_ID__c})),
NOT(ISCHANGED({!myVariable_current.Voucher_Redeemed__c}))
)

))</expression>
    </formulas>
    <interviewLabel>Update_compensation_amt_on_case-12_InterviewLabel</interviewLabel>
    <label>Update compensation amt on case and trigger approval</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Compensation__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Compensation__c].Case</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update case record</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Compensation Amt</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Compensation_Amt__c</field>
            <value>
                <elementReference>myVariable_current.Payment_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Compensation Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Compensation_Currency__c</field>
            <value>
                <elementReference>myVariable_current.Payment_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Compensation__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Compensation__c</objectType>
    </variables>
</Flow>
