GearsetPOC/force-app/main/default/flows/Update_Member_Tier_on_Member_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Update Member Tier on Member Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Member Tier on Member Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Member_Tier_on_Customer_Account</name>
        <label>Update Member Tier on Customer Account</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LoyaltyMember.Contact.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Delta_Loyalty_Tier__c</field>
            <value>
                <elementReference>$Record.LoyaltyTier.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_Tier_on_Member_Record</name>
        <label>Update Member Tier on Member Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_Member_Tier_on_Customer_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LoyaltyMemberId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Member_Tier__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.LoyaltyTier.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Member_Tier__c</field>
            <value>
                <elementReference>$Record.LoyaltyTier.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Member_Tier__c</field>
            <value>
                <elementReference>$Record__Prior.LoyaltyTier.Name</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyProgramMember</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Member_Tier_on_Member_Record</targetReference>
        </connector>
        <filterFormula>ISNEW() ||
ISCHANGED({!$Record.LoyaltyTier.Id}) || 
TEXT({!$Record.LoyaltyMember.Contact.Account.Delta_Loyalty_Tier__c})  != {!$Record.LoyaltyTier.Name}</filterFormula>
        <object>LoyaltyMemberTier</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
