GearsetPOC/force-app/main/default/flows/Update_Corp_Account_PCC_Codes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Account_PCC_Ids</name>
        <label>Assign Account PCC Ids</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>accountPccIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_All_Account_PCCs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_All_Account_PCCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Corp_Account_PCC_Codes</name>
        <label>Assign # Corp Account PCC Codes</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Corp_Account_PCC_Codes__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_existing_active_Account_PCC_Codes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Corp_Account_PCC_Codes</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update # Corp Account PCC Codes {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Update # Corp Account PCC Codes</label>
    <loops>
        <name>Loop_through_All_Account_PCCs</name>
        <label>Loop through All Account PCCs</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_all_Account_PCCs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account_PCC_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_existing_active_Account_PCC_Codes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Corp_Account_PCC_Codes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Account_PCCs</name>
        <label>Get all Account PCCs</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_All_Account_PCCs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2b_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2b_AccountPCC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_active_Account_PCC_Codes</name>
        <label>Get existing active Account PCC Codes</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>B2b_AccountPCC__c</field>
            <operator>In</operator>
            <value>
                <elementReference>accountPccIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Code_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate Code Amadeus</stringValue>
            </value>
        </filters>
        <filters>
            <field>Code_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate Code Apollo</stringValue>
            </value>
        </filters>
        <filters>
            <field>Code_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate Code Galileo</stringValue>
            </value>
        </filters>
        <filters>
            <field>Code_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate Code Sabre</stringValue>
            </value>
        </filters>
        <filters>
            <field>Code_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GDS Code</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2b_AccountPCCCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Corp_Account_PCC_Codes</name>
        <label>Update # Corp Account PCC Codes</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Account_PCCs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountPccIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
